{
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "none",
        "printWidth": 120
      }
    ],
    "max-len": ["error", {"code": 240, "ignoreUrls": true}],
    "react/no-unused-prop-types": 1
  },
  "extends": [
    "standard",
    "standard-react",
    "standard-jsx",
    "prettier",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["prettier", "react"]
}
