{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": [
    "import",
    "jest",
    "json",
    "prettier",
    "react"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jest/recommended"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": 0,
    "import/first": 0,
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "jest/prefer-to-have-length": 0,
    "max-len": [
      "error",
      {
        "code": 240,
        "ignoreUrls": true
      }
    ],
    "no-console": 0,
    "no-debugger": 1,
    "no-plusplus": 0,
    "no-case-declarations": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 120
      }
    ],
    "react/no-unused-prop-types": 1,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "space-before-function-paren": 0,
    "jsx-a11y/anchor-is-valid": 1,
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "some": [ "nesting", "id" ]
      }
    }],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["CustomInputLabel"],
      "labelAttributes": ["label"],
      "controlComponents": ["CustomInput"],
      "depth": 3
    }]
  }
}
