# dependencies
/node_modules

# testing
/coverage

# production
/build
/src/styles/css

# misc
/.container
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
api-debug*

/public/assets
