---

- name: Install CLI setting
  set_fact:
    install_cli: "{{ install_cli | bool | default(true) }}"
  when: install_cli is defined

- name: Defaulting CLI install setting
  set_fact:
    install_cli: true
  when: install_cli is not defined

- name: Set qpc repo url for RHEL/CentOS 7
  set_fact:
    qpc_repo_url: "{{ ansible_env['QPC_URL'] | default('https://copr.fedorainfracloud.org/coprs/g/quipucords/qpc/repo/epel-7/group_quipucords-qpc-epel-7.repo') }}"
  when:
    - qpc_repo_url is not defined
    - is_rhel_centos_7

- name: Set qpc repo file for RHEL/CentOS 7
  set_fact:
    qpc_repo_file: "{{ ansible_env['QPC_FILE'] | default('group_quipucords-qpc-epel-7.repo') }}"
  when:
    - qpc_repo_file is not defined
    - is_rhel_centos_7

- name: Set qpc repo url for RHEL/CentOS 6
  set_fact:
    qpc_repo_url: "{{ ansible_env['QPC_URL'] | default('https://copr.fedorainfracloud.org/coprs/g/quipucords/qpc/repo/epel-6/group_quipucords-qpc-epel-6.repo') }}"
  when:
    - qpc_repo_url is not defined
    - is_rhel_centos_6

- name: Set qpc repo file for RHEL/CentOS 6
  set_fact:
    qpc_repo_file: "{{ ansible_env['QPC_FILE'] | default('group_quipucords-qpc-epel-6.repo') }}"
  when:
    - qpc_repo_file is not defined
    - is_rhel_centos_6

- name: Set qpc repo url for Fedora 27
  set_fact:
    qpc_repo_url: "{{ ansible_env['QPC_URL'] | default('https://copr.fedorainfracloud.org/coprs/g/quipucords/qpc/repo/fedora-27/group_quipucords-qpc-fedora-27.repo') }}"
  when:
    - qpc_repo_url is not defined
    - is_fedora_27

- name: Set qpc repo file for Fedora 27
  set_fact:
    qpc_repo_file: "{{ ansible_env['QPC_FILE'] | default('group_quipucords-qpc-fedora-27.repo') }}"
  when:
    - qpc_repo_file is not defined
    - is_fedora_27

- name: Set qpc repo url for Fedora 28
  set_fact:
    qpc_repo_url: "{{ ansible_env['QPC_URL'] | default('https://copr.fedorainfracloud.org/coprs/g/quipucords/qpc/repo/fedora-28/group_quipucords-qpc-fedora-28.repo') }}"
  when:
    - qpc_repo_url is not defined
    - is_fedora_28

- name: Set qpc repo file for Fedora 28
  set_fact:
    qpc_repo_file: "{{ ansible_env['QPC_FILE'] | default('group_quipucords-qpc-fedora-28.repo') }}"
  when:
    - qpc_repo_file is not defined
    - is_fedora_28

- name: Set qpc version for Fedora 27
  set_fact:
    qpc_version: "{{ ansible_env['QPC_VERSION'] | default('qpc') }}"
  when:
    - qpc_version is not defined
    - is_fedora_27

- name: Set qpc version for Fedora 28
  set_fact:
    qpc_version: "{{ ansible_env['QPC_VERSION'] | default('qpc') }}"
  when:
    - qpc_version is not defined
    - is_fedora_28

- name: Set qpc version for RHEL/CentOS 6
  set_fact:
    qpc_version: "{{ ansible_env['QPC_VERSION'] | default('qpc') }}"
  when:
    - qpc_version is not defined
    - is_rhel_centos_6

- name: Set qpc version for RHEL/CentOS 7
  set_fact:
    qpc_version: "{{ ansible_env['QPC_VERSION'] | default('qpc') }}"
  when:
    - qpc_version is not defined
    - is_rhel_centos_7

- name: Find installable local QPC rpm
  find:
    paths: "{{ pkg_install_dir }}"
    patterns: 'qpc*.rpm'
  register: find_qpc_rpm_local_raw

- name: Set find_qpc_rpm_local
  set_fact:
    find_qpc_rpm_local: "{{ find_qpc_rpm_local_raw['matched'] == 1 }}"
  when:
    - find_qpc_rpm_local_raw is defined
    - "'matched' in find_qpc_rpm_local_raw"

- name: Set find_qpc_rpm_local_path
  set_fact:
    find_qpc_rpm_local_path: "{{ find_qpc_rpm_local_raw['files'][0]['path'] }}"
  when:
    - find_qpc_rpm_local is defined
    - find_qpc_rpm_local

- name: Install QPC from local path
  shell: rpm -Uvh --force "{{find_qpc_rpm_local_path}}"
  become: true
  when: find_qpc_rpm_local

- name: Add QPC repository for RHEL/CentOS 7
  get_url:
    url: "{{ qpc_repo_url }}"
    dest: '/etc/yum.repos.d/{{ qpc_repo_file }}'
    mode: 0644
    force: yes
  become: true
  when:
    - install_cli
    - not find_qpc_rpm_local

- name: Install the latest version of QPC
  yum:
    name: '{{ qpc_version }}'
    state: present
  become: true
  when:
    - install_cli
    - not find_qpc_rpm_local

- name: Configure QPC to talk to server
  shell: qpc server config --host 127.0.0.1 --port "{{ server_port }}"
  when: install_cli
