---

- name: internal_host_started_processing_role
  set_fact:
    internal_host_started_processing_role: "ifconfig"

- name: gather ifconfig.mac-addresses fact (no sudo)
  raw: echo $(if [ -f /sbin/ifconfig ] ; then /sbin/ifconfig -a; else /sbin/ip address show; fi) | grep -o -E '([[:xdigit:]]{1,2}:){5}[[:xdigit:]]{1,2}' | grep -v '00:00:00:00:00:00' | grep -v 'ff:ff:ff:ff:ff:ff'
  register: internal_ifconfig_mac_addresses_cmd
  ignore_errors: yes
  when: '(not user_has_sudo) and internal_have_ifconfig'

- name: gather ifconfig.mac-addresses fact (sudo)
  raw: echo $(if [ -f /sbin/ifconfig ] ; then /sbin/ifconfig -a; else /sbin/ip address show; fi) | grep -o -E '([[:xdigit:]]{1,2}:){5}[[:xdigit:]]{1,2}' | grep -v '00:00:00:00:00:00' | grep -v 'ff:ff:ff:ff:ff:ff'
  register: internal_sudo_ifconfig_mac_addresses_cmd
  ignore_errors: yes
  become: yes
  when: 'user_has_sudo and internal_have_ifconfig'

- name: extract result value for ifconfig.mac-addresses
  set_fact:
    ifconfig_mac_addresses: "{{ internal_ifconfig_mac_addresses_cmd | default(None) }}"
  ignore_errors: yes
  when: '(not user_has_sudo) and "stdout_lines" in internal_ifconfig_mac_addresses_cmd'

- name: extract result value for ifconfig.mac-addresses (sudo)
  set_fact:
    ifconfig_mac_addresses: "{{ internal_sudo_ifconfig_mac_addresses_cmd | default(None) }}"
  ignore_errors: yes
  when: 'user_has_sudo and "stdout_lines" in internal_sudo_ifconfig_mac_addresses_cmd'

- name: gather ip-address fact (no sudo)
  raw: if [ -f /sbin/ifconfig ] ; then /sbin/ifconfig -a; elif [ -f /sbin/ip ] ; then /sbin/ip address show ; else hostname -I 2>/dev/null; fi
  register: internal_ifconfig_ip_addresses_cmd
  ignore_errors: yes
  when: '(not user_has_sudo)'

- name: gather ip-address fact (sudo)
  raw: if [ -f /sbin/ifconfig ] ; then /sbin/ifconfig -a; elif [ -f /sbin/ip ] ; then /sbin/ip address show ; else hostname -I 2>/dev/null; fi
  register: internal_sudo_ifconfig_ip_addresses_cmd
  ignore_errors: yes
  become: yes
  when: 'user_has_sudo'

- name: extract result value for ifconfig.ip-address
  set_fact:
    ifconfig_ip_addresses: "{{  internal_ifconfig_ip_addresses_cmd | default(None) }}"
  ignore_errors: yes
  when: '(not user_has_sudo) and "stdout_lines" in internal_ifconfig_ip_addresses_cmd'

- name: extract result value for ifconfig.ip-address (sudo)
  set_fact:
    ifconfig_ip_addresses: "{{  internal_sudo_ifconfig_ip_addresses_cmd | default(None) }}"
  ignore_errors: yes
  when: 'user_has_sudo and "stdout_lines" in internal_sudo_ifconfig_ip_addresses_cmd'
