---

- name: Install server setting
  set_fact:
    install_server: "{{ install_server | bool | default(true) }}"
  when: install_server is defined

- name: Defaulting server install setting
  set_fact:
    install_server: true
  when: install_server is not defined

- name: Set server directory
  set_fact:
    server_install_dir: "{{ ansible_env['SERVER_DIR'] | default(ansible_env['HOME'] + '/quipucords') }}"
  when: server_install_dir is not defined

- name: Set server port
  set_fact:
    server_port: "{{ ansible_env['SERVER_PORT'] | default('443') }}"
  when: server_port is not defined

- name: Set server url
  set_fact:
    server_url: "{{ ansible_env['SERVER_URL'] | default('https://github.com/quipucords/quipucords/releases/download/1.0.0/quipucords.1.0.0.tar.gz') }}"
  when: server_url is not defined

- name: Set server image and tag name
  set_fact:
    server_image_and_tag: "{{ ansible_env['SERVER_IMAGE'] | default('quipucords:1.0.0') }}"
  when: server_image_and_tag is not defined

- name: Split server image and tag name
  set_fact:
    image_and_tag: "{{ server_image_and_tag.split(':') }}"
  when: server_image_and_tag is defined

- name: Set container image and tag name
  set_fact:
    image: "{{ image_and_tag[0] }}"
    tag: "{{ image_and_tag[1] }}"
  when: image_and_tag is defined

- name: Set server name
  set_fact:
    server_name: "{{ ansible_env['SERVER_NAME'] | default('quipucords') }}"
  when: server_name is not defined

- name: Set server timeout
  set_fact:
    QPC_SERVER_TIMEOUT: "{{ ansible_env['QPC_SERVER_TIMEOUT'] | default('120') }}"
  when: QPC_SERVER_TIMEOUT is not defined

- name: Default directory mounting to empty string
  set_fact:
    dir_mount_selinux: ""

- name: Set dir_mount_selinux to add ":z" if selinux_on is true
  set_fact:
    dir_mount_selinux: ":z"
  when: selinux_on

- name: Check for server image presence
  shell: docker images | grep "{{ image }}" | grep "{{ tag }}"
  become: true
  register: docker_image_raw
  ignore_errors: yes
  when: install_server

- name: Set docker_image_present false
  set_fact:
    docker_image_present: false
  when:
    - docker_image_raw.rc != 0

- name: Set docker_image_present true
  set_fact:
    docker_image_present: "{{ docker_image_raw['stdout_lines']|length > 0 }}"
  when:
    - docker_image_raw.rc == 0
    - "'stdout_lines' in docker_image_raw"

- name: Find installable local Quipucords server
  find:
    paths: "{{ pkg_install_dir }}"
    patterns: 'quipucords*.tar.gz'
  register: find_qpc_server_local_raw

- name: Set find_qpc_server_local
  set_fact:
    find_qpc_server_local: "{{ find_qpc_server_local_raw['matched'] == 1 }}"
  when:
    - find_qpc_server_local_raw is defined
    - "'matched' in find_qpc_server_local_raw"

- name: Set find_qpc_server_local_path
  set_fact:
    find_qpc_server_local_path: "{{ find_qpc_server_local_raw['files'][0]['path'] }}"
  when:
    - find_qpc_server_local is defined
    - find_qpc_server_local

- name: Ensure packages directory exists
  shell: mkdir -p "{{ pkg_install_dir }}"
  when:
    - install_server
    - not find_qpc_server_local
    - not docker_image_present

- name: Obtain Quipucords server container image
  get_url:
    url: "{{ server_url }}"
    dest: "{{ pkg_install_dir }}"
    mode: 0644
  when:
    - install_server
    - not find_qpc_server_local
    - not docker_image_present

- name: Find installable local Quipucords server
  find:
    paths: "{{ pkg_install_dir }}"
    patterns: 'quipucords*.tar.gz'
  register: find_qpc_server_local_raw

- name: Set find_qpc_server_local
  set_fact:
    find_qpc_server_local: "{{ find_qpc_server_local_raw['matched'] == 1 }}"
  when:
    - find_qpc_server_local_raw is defined
    - "'matched' in find_qpc_server_local_raw"

- name: Set find_qpc_server_local_path
  set_fact:
    find_qpc_server_local_path: "{{ find_qpc_server_local_raw['files'][0]['path'] }}"
  when:
    - find_qpc_server_local is defined
    - find_qpc_server_local

- name: Load Quipucords image into local Docker registry
  shell: docker load -i "{{find_qpc_server_local_path}}"
  become: true
  when:
    - install_server
    - not docker_image_present

- name: Make server home directory
  shell: mkdir -p "{{server_install_dir}}"
  when: install_server

- name: Make server log directory
  shell: mkdir -p "{{server_install_dir}}/log"
  when: install_server

- name: Make server data directory
  shell: mkdir -p "{{server_install_dir}}/data"
  when: install_server

- name: Make server sshkeys directory
  shell: mkdir -p "{{server_install_dir}}/sshkeys"
  when: install_server

- name: Check for server already running
  shell: docker ps -f name="{{ server_name }}" | grep "{{ server_name }}"
  become: true
  register: docker_ps_raw
  ignore_errors: yes
  when: install_server

- name: Set docker_server_running
  set_fact:
    docker_server_running: "{{ docker_ps_raw['stdout_lines']|length > 0 }}"
  when: "'stdout_lines' in docker_ps_raw"

- name: Set QPC_DBMS (defaults to use postgres)
  set_fact:
    QPC_DBMS: "{{ ansible_env['QPC_DBMS'] | default('postgres') }}"
  when:
    - QPC_DBMS is not defined

- name: Set default for use_postgres to False
  set_fact:
    use_postgres: false

- name: Set QPC_DBMS_DATABASE (defaults to use postgres)
  set_fact:
    QPC_DBMS_DATABASE: "{{ ansible_env['QPC_DBMS_DATABASE'] | default('postgres') }}"
  when:
    - QPC_DBMS_DATABASE is not defined
    - QPC_DBMS == "postgres"

- name: Set QPC_DBMS_USER (defaults to use postgres)
  set_fact:
    QPC_DBMS_USER: "{{ ansible_env['QPC_DBMS_USER'] | default('postgres') }}"
  when:
    - QPC_DBMS_USER is not defined
    - QPC_DBMS == "postgres"

- name: Set QPC_DBMS_PORT (defaults to use 5432)
  set_fact:
    QPC_DBMS_PORT: "{{ ansible_env['QPC_DBMS_PORT'] | default('5432') }}"
  when:
    - QPC_DBMS_PORT is not defined
    - QPC_DBMS == "postgres"

- name: Set QPC_DBMS_PASSWORD
  set_fact:
    QPC_DBMS_PASSWORD: "{{ansible_env['QPC_DBMS_PASSWORD'] | default('password') }}"
  when:
    - QPC_DBMS_PASSWORD is not defined
    - QPC_DBMS == "postgres"

- name: Set QPC_DBMS_HOST
  set_fact:
    QPC_DBMS_HOST: "{{default('qpc-db')}}"
  when:
    - QPC_DBMS_HOST is not defined
    - QPC_DBMS == "postgres"

- name: Change value for use_postgres if all env variables are specified
  set_fact:
    use_postgres: true
  when:
    - QPC_DBMS == "postgres"
    - QPC_DBMS_DATABASE is defined
    - QPC_DBMS_USER is defined
    - QPC_DBMS_PASSWORD is defined
    - QPC_DBMS_HOST is defined
    - QPC_DBMS_PORT is defined

- name: Start server using SQLite
  shell: docker run --name "{{ server_name }}" -d -e QPC_SERVER_TIMEOUT="{{ QPC_SERVER_TIMEOUT }}" -p "{{ server_port }}":443 -v "{{ server_install_dir }}"/sshkeys:/sshkeys"{{ dir_mount_selinux }}" -v "{{ server_install_dir }}"/data:/var/data"{{ dir_mount_selinux }}" -v "{{ server_install_dir }}"/log:/var/log"{{ dir_mount_selinux }}" -i "{{ server_image_and_tag }}"
  become: true
  when:
    - install_server
    - not docker_server_running
    - not use_postgres

- name: Create Internal postgres container
  shell: docker run --name qpc-db -e POSTGRES_PASSWORD="{{QPC_DBMS_PASSWORD}}" -p "{{QPC_DBMS_PORT}}":"{{server_port}}" -d "{{QPC_DBMS_DATABASE}}"
  become: true
  when:
    - use_postgres

- name: Start server using Internal Postgres
  shell: docker run --name "{{ server_name }}" --link qpc-db:qpc-link -d -e QPC_SERVER_TIMEOUT="{{ QPC_SERVER_TIMEOUT }}" -e QPC_DBMS="{{ QPC_DBMS }}" -e QPC_DBMS_DATABASE="{{ QPC_DBMS_DATABASE }}" -e QPC_DBMS_USER="{{ QPC_DBMS_USER }}" -e QPC_DBMS_PASSWORD="{{ QPC_DBMS_PASSWORD }}" -e QPC_DBMS_HOST=qpc-db -e QPC_DBMS_PORT="{{ QPC_DBMS_PORT }}" -p "{{ server_port }}":443 -v "{{ server_install_dir }}"/sshkeys:/sshkeys"{{ dir_mount_selinux }}" -v "{{ server_install_dir }}"/data:/var/data"{{ dir_mount_selinux }}" -v "{{ server_install_dir }}"/log:/var/log"{{ dir_mount_selinux }}" -i "{{ server_image_and_tag }}"
  become: true
  when:
    - use_postgres
