body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.quipicords-list-view {
  margin-top: 0;
  margin-bottom: 0;
}

.quipicords-list-view .list-view-pf-description {
  flex: 1 0 75%;
}
@media (min-width: 992px) {
  .quipicords-list-view .list-view-pf-additional-info {
    width: 25%;
  }
}

button.unavailable:hover, li.unavailable > a:hover {
  cursor: default;
  opacity: 0;
}

.scan-list-source-name {
  margin-left: 5px;
}

.list-view-pf-left .pficon.list-view-pf-icon-sm.scan-item-status {
  border: none;
  margin-right: 10px;
}
