body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-brand .navbar-brand-icon, .modal-dialog .modal-footer > img {
  height: 35px;
  width: 35px;
}

.quipicords-list-view {
  margin-top: 0;
  margin-bottom: 0;
}

button.unavailable:hover, li.unavailable > a:hover {
  cursor: default;
  opacity: 0;
}

.scan-list-source-name {
  margin-left: 5px;
}

.list-view-pf-left .pficon.list-view-pf-icon-sm.scan-item-status {
  border: none;
  margin-right: 10px;
}

.blank-slate-pf.full-page-blank-slate {
  border: none;
}

.list-view-info-item-text-count {
  width: 80px;
}

.list-view-info-item-icon-count {
  width: 50px;
}

