---

- name: Set operating system information
  set_fact:
    is_rhel_centos_6: "{{ ((ansible_distribution == 'RedHat') or (ansible_distribution == 'CentOS')) and (ansible_distribution_major_version == '6') }}"
    is_rhel7: "{{ (ansible_distribution == 'RedHat') and (ansible_distribution_major_version == '7') }}"
    is_centos_7: "{{ (ansible_distribution == 'CentOS') and (ansible_distribution_major_version == '7') }}"
    is_rhel_centos_7: "{{ ((ansible_distribution == 'RedHat') or (ansible_distribution == 'CentOS')) and (ansible_distribution_major_version == '7') }}"
    is_fedora_27: "{{ (ansible_distribution == 'Fedora') and (ansible_distribution_major_version == '27') }}"
    is_fedora_28: "{{ (ansible_distribution == 'Fedora') and (ansible_distribution_major_version == '28') }}"

- name: Set is_fedora_27_28 to true
  set_fact:
    is_fedora_27_28: true
  when: is_fedora_28 or is_fedora_27

- name: Set is_fedora_27_28 to false
  set_fact:
    is_fedora_27_28: false
  when: not (is_fedora_28 or is_fedora_27)

- fail:
    msg: "This is not a supported system for installation. Must be RHEL 6/7, CentOS 6/7, or Fedora 27/28."
  when: not (is_rhel_centos_6 or is_rhel_centos_7 or is_fedora_27_28)

- name: Get local package directory
  set_fact:
    pkg_install_dir: "{{ ansible_env['PKG_DIR'] | default(ansible_env['PWD'] + '/packages/') }}"
  when: pkg_install_dir is not defined

- name: Defaulting selinux_on to false
  set_fact:
    selinux_on: false

- name: Get selinux_on setting from ansible
  set_fact:
    selinux_on: true
  when: ansible_selinux is defined and ansible_selinux != False and ansible_selinux.status == 'enabled'
