.dockerignore
.gitignore

Dockerfile
Dockerfile.scan-target
client
quipucords/db.sqlite3
node_modules
package-lock.json

logs
*.log

.DS_Store
.egg
quipucords.egg-info
**.pyc
quipucords/client
quipucords/quipucords/template
quipucords/staticfiles
