**.pyc
**/*.log
**/*_tests.py
**/conftest.py
**/test_*.py
**/tests.py
**/tests_*.py
.DS_Store
.dockerignore
.egg
.flakeheaven-baseline
.github
.gitignore
.pytest_cache
.tool-versions
.venv
.vscode
Dockerfile
Dockerfile.scan-target
client
dev-requirements.in
dev-requirements.txt
logs
node_modules
package-lock.json
quipucords.egg-info
quipucords/client
quipucords/db.sqlite3
quipucords/quipucords/template
quipucords/staticfiles
quipucords/tests
var
venv
