# Include Production Server Requirements & locked Dev Requirements
-r requirements.txt

#Coverage
coverage==5.5

# Test runner/testing utils
pytest==6.2.5
pytest-django==4.4.0
requests-mock==1.9.3


# Linting
pydocstyle==6.1.1
flake8==3.9.2
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.0
pylint==2.11.1
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyflakes==2.3.1

# Editor
autopep8==1.5.7

# Gunicorn local development
gunicorn==20.1.0
