#Coverage
coverage

# Test runner/testing utils
pytest-cov
pytest-django
pytest-xdist
pytest
requests-mock

# Linting
black
darker
flake8-docstrings
flake8-pylint
flake8-quotes
flake8
flakeheaven
isort
pydocstyle
pyflakes
pylint-django
pylint-plugin-utils
pylint-pytest
pylint

# other dev tools
beautifulsoup4
docker-compose
pip-tools
pytest-docker-tools
