#Coverage
coverage

# Test runner/testing utils
factory-boy
pytest-cov<4  # changes on how it handles multiprocessing conflicts with scan_manager
pytest-django
pytest-lazy-fixture
pytest-mock
pytest-xdist
pytest
requests-mock
httpretty

# Linting
black
darker
flake8-docstrings
flake8-quotes
flake8
flakeheaven
isort
pydocstyle
pyflakes
pylint-django
pylint-plugin-utils
pylint-pytest
pylint

# other dev tools
beautifulsoup4
docker-compose
pip-tools
pytest-docker-tools
