# Include Production Server Requirements & locked Dev Requirements
-r requirements.txt

#Coverage
coverage==5.3.1

# Test runner/testing utils
pytest-cov==3.0.0
pytest-django==4.1.0
pytest-xdist==2.5.0
pytest==6.2.1
requests-mock==1.8.0

# Linting
flake8-docstrings==1.5.0
flake8-import-order==0.18.1
flake8-quotes==3.2.0
flake8==3.8.4
pydocstyle==5.1.1
pyflakes==2.2.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pylint==2.6.0

# Editor
autopep8==1.5.4

# Gunicorn local development
gunicorn==20.0.4
