[tool.poetry]
name = "quipucords"
version = "1.1.3"
description = "Tool for discovery, inspection, collection, deduplication, and reporting on an IT environment."
authors = ["Quipucords Dev Team <quipucords@redhat.com>"]
readme = "README.md"
license = "GPLv3"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.poetry.dependencies]
python = "^3.9"
ansible = ">=6,<7"
django = "<4"
django-filter = "^22.1"
djangorestframework = "^3.14.0"
jmespath = "^1.0.1"
paramiko = "^3.0.0"
pexpect = "^4.8.0"
pyvmomi = "<8"
pyyaml = "^6.0"
requests = "^2.28.2"
whitenoise = "^6.3.0"
psycopg2-binary = "<2.9"
ansible-runner = "^2.3.1"
gunicorn = "^20.1.0"
openshift = ">=0.13"
pydantic = "^1.10.4"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
coverage = "^7.0.5"
factory-boy = "^3.2.1"
pytest-cov = "<4"
pytest-django = "^4.5.2"
pytest-lazy-fixture = "^0.6.3"
pytest-mock = "^3.10.0"
pytest-recording = "^0.12.1"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.1.0"
requests-mock = "^1.10.0"
httpretty = "^1.1.4"
black = "^22.12.0"
darker = "^1.6.1"
flake8-docstrings = "^1.6.0"
flake8-quotes = "^3.3.2"
flake8 = "*"
flakeheaven = "^3.2.1"
isort = "^5.11.4"
pydocstyle = "^6.3.0"
pylint-django = "^2.5.3"
pylint-plugin-utils = "^0.7"
pylint-pytest = "^1.1.2"
pylint = "^2.15.10"
beautifulsoup4 = "^4.11.1"
debugpy = "^1.6.5"
pip-tools = "^6.12.1"
pytest-docker-tools = "^3.1.3"
watchdog = {extras = ["watchmedo"], version = "^2.2.1"}
pybuild-deps = "*"

[tool.darker]
isort = true

[tool.flakeheaven]
base = "https://raw.githubusercontent.com/quipucords/linting/main/base-flakeheaven.toml"
baseline = ".flakeheaven-baseline"

[tool.flakeheaven.exceptions."quipucords/api/migrations/*.py"]
"flake8-*" = [
    "-D100",
    "-D101",
]
pylint = [
    "-C0103", # invalid-name
    "-C0114", # missing-module-docstring
    "-C0115", # missing-class-docstring
]

[tool.black]
target-version = ['py39']

[tool.isort]
profile = "black"
known_first_party = [
    "api",
    "compat",
    "fingerprinter",
    "log_messages",
    "quipucords",
    "scanner",
    "tests",
    "utils",
]

[tool.pylint.basic]
good-names = ["db", "i", "j", "k", "ex", "Run", "_"]

[tool.pylint.master]
init-hook = "import sys; sys.path.append('./quipucords')"
django-settings-module = "quipucords.settings"
load-plugins = [
    "pylint_django",
    "pylint_pytest",
]

[tool.pytest.ini_options]
pythonpath = "quipucords/"
addopts = [
    "--ds=quipucords.settings",
    "--block-network",
    "--allowed-hosts=127.0.0.1,::1",
]
python_files = [
    "tests.py",
    "test_*.py",
    "*_tests.py",
    "tests_*.py",
]
