ansible==2.7.8
ansible-runner==1.2.0
asn1crypto==0.23.0
bcrypt==3.1.2
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.4
Django==2.1.7
django-filter==2.1.0
djangorestframework==3.9.2
djangorestframework-expiring-authtoken==0.1.4
docutils==0.14
drf-generators==0.3.0
drf-url-filters==0.5.1
idna==2.5
Jinja2==2.9.6
jmespath==0.9.0
lockfile==0.11.0
MarkupSafe==1.0
paramiko==2.1.1
pexpect==4.6.0
psutil==5.4.3
psycopg2==2.7.3
ptyprocess==0.5.2
pyasn1==0.3.7
pycparser==2.14
python-daemon==2.1.2
pytz==2016.10
pyvmomi==6.7.1.2018.12
PyYAML==3.12
requests==2.6.0
setuptools==36.5.0
six==1.11.0
urllib3==1.21.1
voluptuous==0.10.5
whitenoise==4.1.2
