ansible==2.9.5
Django==3.0.3
django-filter==2.2.0
djangorestframework==3.11.0
jmespath==0.9.5
paramiko==2.7.1
pexpect==4.8.0
pyvmomi==6.7.3
PyYAML==5.3
requests==2.23.0
whitenoise==4.1.4
psycopg2-binary==2.8.4
ansible-runner==1.4.4