ansible==5.0.0
Django==3.2.9
django-filter==21.1
djangorestframework==3.12.4
jmespath==0.10.0
paramiko==2.8.1
pexpect==4.8.0
pyvmomi==7.0.3
PyYAML==6.0
requests==2.26.0
whitenoise==5.2.0
psycopg2-binary==2.8.6
ansible-runner==1.4.6