calver
cffi>=1.12;platform_python_implementation!='PyPy'
cffi>=1.4.1;python_implementation!='PyPy'
Cython<3.0
docutils
flit_core>=2,<4
flit_core>=3.2,<4
flit_core>=3.3
flit_core>=3.4,<4
flit_core>=3.8,<4
hatchling>=0.25.1
pbr
pbr>=1.8
poetry-core>=1.0.0
setuptools
setuptools>=36.2.2
setuptools<40.0;python_version=='3.3'
setuptools>=40.8.0
setuptools>=42.0.0
setuptools>=45
setuptools>=45.0
setuptools>=45.2.0
setuptools>=46.4.0
setuptools>=61
setuptools>=61.0.0
setuptools>=62.4
setuptools>=62.4.0
setuptools>=66.1
setuptools;python_version!='3.3'
setuptools-rust
setuptools-rust>=0.11.4
setuptools-scm
setuptools_scm
setuptools-scm[toml]>=6.2.3
tomli;python_version<"3.11"
wheel
wheel>=0.28.0
