amqp==5.2.0 ; python_version >= "3.11" and python_version < "3.13"
ansible-core==2.15.12 ; python_version >= "3.11" and python_version < "3.13"
ansible-runner==2.4.0 ; python_version >= "3.11" and python_version < "3.13"
ansible==8.7.0 ; python_version >= "3.11" and python_version < "3.13"
asgiref==3.8.1 ; python_version >= "3.11" and python_version < "3.13"
async-timeout==4.0.3 ; python_version >= "3.11" and python_full_version < "3.11.3"
bcrypt==4.1.3 ; python_version >= "3.11" and python_version < "3.13"
billiard==4.2.0 ; python_version >= "3.11" and python_version < "3.13"
cachetools==5.3.3 ; python_version >= "3.11" and python_version < "3.13"
celery[redis]==5.3.6 ; python_version >= "3.11" and python_version < "3.13"
certifi==2024.6.2 ; python_version >= "3.11" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
click-didyoumean==0.3.1 ; python_version >= "3.11" and python_version < "3.13"
click-plugins==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
click-repl==0.3.0 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
cryptography==42.0.8 ; python_version >= "3.11" and python_version < "3.13"
django-axes==6.4.0 ; python_version >= "3.11" and python_version < "3.13"
django-cors-headers==4.3.1 ; python_version >= "3.11" and python_version < "3.13"
django-environ==0.10.0 ; python_version >= "3.11" and python_version < "3.13"
django-filter==24.2 ; python_version >= "3.11" and python_version < "3.13"
django==4.2.13 ; python_version >= "3.11" and python_version < "3.13"
djangorestframework==3.15.1 ; python_version >= "3.11" and python_version < "3.13"
docutils==0.21.2 ; python_version >= "3.11" and python_version < "3.13"
google-auth==2.29.0 ; python_version >= "3.11" and python_version < "3.13"
gunicorn==22.0.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.7 ; python_version >= "3.11" and python_version < "3.13"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.13"
kombu==5.3.7 ; python_version >= "3.11" and python_version < "3.13"
kubernetes==29.0.0 ; python_version >= "3.11" and python_version < "3.13"
lockfile==0.12.2 ; python_version >= "3.11" and python_version < "3.13"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.13"
more-itertools==9.1.0 ; python_version >= "3.11" and python_version < "3.13"
oauthlib==3.2.2 ; python_version >= "3.11" and python_version < "3.13"
openshift==0.13.2 ; python_version >= "3.11" and python_version < "3.13"
packaging==24.0 ; python_version >= "3.11" and python_version < "3.13"
paramiko==3.4.0 ; python_version >= "3.11" and python_version < "3.13"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.13"
prompt-toolkit==3.0.46 ; python_version >= "3.11" and python_version < "3.13"
psycopg2==2.9.9 ; python_version >= "3.11" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
pyasn1-modules==0.4.0 ; python_version >= "3.11" and python_version < "3.13"
pyasn1==0.6.0 ; python_version >= "3.11" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.13"
pydantic==1.10.15 ; python_version >= "3.11" and python_version < "3.13"
pynacl==1.5.0 ; python_version >= "3.11" and python_version < "3.13"
python-daemon==3.0.1 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
python-string-utils==1.0.0 ; python_version >= "3.11" and python_version < "3.13"
pyvmomi==8.0.2.0.1 ; python_version >= "3.11" and python_version < "3.13"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.13"
redis==5.0.5 ; python_version >= "3.11" and python_version < "3.13"
requests-oauthlib==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.13"
resolvelib==1.0.1 ; python_version >= "3.11" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.11" and python_version < "3.13"
setuptools==70.0.0 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
sqlparse==0.5.0 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.12.1 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.1 ; python_version >= "3.11" and python_version < "3.13"
vine==5.1.0 ; python_version >= "3.11" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.13"
websocket-client==1.8.0 ; python_version >= "3.11" and python_version < "3.13"
whitenoise==6.6.0 ; python_version >= "3.11" and python_version < "3.13"
