ansible<4
Django<4
django-filter
djangorestframework
jmespath
paramiko<2.8
pexpect
pyvmomi<8 # pyvmomi 8 has will break quipucords w/o code changes https://github.com/vmware/pyvmomi/releases/tag/v8.0.0.1
PyYAML
requests
whitenoise
psycopg2-binary<2.9
ansible-runner
gunicorn
openshift>=0.13
