/* _masthead.scss */
.nav .nav-item-iconic {
  .btn-group {
    max-height: 58px;
    position: relative;
    top: -22px;
  }

  .btn {
    background: transparent;
    border-color: transparent;
    padding: 21px 0;
    &:focus {
      outline: none;
    }
  }

  .open .btn:focus {
    background: transparent;
    border-color: transparent;
    outline: none;
  }

  .navbar-pf-vertical .nav .nav-item-iconic {
    .fa {
      font-size: 13px;
      font-family: sans-serif;
      font-weight: bold;
    }
    .fa:before {
      font-size: 16px;
      font-family: FontAwesome;
    }
    [class*=" pficon-"]:before {
      font-size: 16px;
      font-family: PatternFlyIcons-webfont;
    }
  }
}

