/* _overrides.scss */
.about-modal-pf {
  background-color: #1a1a1a;
  background-image: url('../images/About-Modal-background.png');
  background-size: 50% auto;

  .modal-footer > img {
    height: 28px;
  }
}

.navbar-pf-vertical .navbar-brand .navbar-brand-name {
  height: 11px;
  margin-top: 13px;
}

.list-view-pf-top-align {
  .list-view-pf-additional-info, .list-view-pf-description {
    align-self: flex-start;
  }
}

.wizard-pf-complete.blank-slate-pf {
  padding-top: 40px;
  padding-bottom: 0;
}
