/* _scans.scss */
.scan-list-source-name {
  margin-left: 5px;
}

.list-view-pf-left .pficon.list-view-pf-icon-sm.scan-item-status {
  border: none;
  margin-right: 10px;
}

.list-view-info-item-text-count {
  width: 80px;
}

.list-view-info-item-icon-count {
  width: 50px;
}

