/* _scans.scss */
.scan-list-source-name {
  margin-left: 5px;
}

.list-view-pf-left .pficon.list-view-pf-icon-sm.scan-item-status {
  border: none;
  margin-right: 10px;
}

.scan-description {
  display: flex;
  width: 100%;
}

.scan-status-icon {
  font-size: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 6px;
}
.scan-job-status-icon {
  margin-right: 5px;
  &.systems:before, &.systems:before {
    color: $color-pf-black;
  }
}

.merge-reports-body {
  display: flex;

  .merge-reports-icon {
    font-size: 3em;
    margin-right: 20px;
    margin-top: -10px;
  }

  .merge-reports-heading {
    margin-top: -2px;
  }
}
