/* _views.scss */

// Setup for internal vertical scroll
.quipucords-content {
  bottom: 0;
  top: $navbar-pf-vertical-height;
  right: 0;
  position: fixed;
  left: $nav-pf-vertical-width;
  .collapsed-nav & {
    left: $nav-pf-vertical-collapsed-width;
  }
  .hidden-nav & {
    left: 0;
  }
}

.layout-pf.hidden-nav-menu {
  .nav-pf-vertical {
    border: 0;
    width: 0;
  }
  .container-pf-nav-pf-vertical {
    margin-left: 0;
  }
  .navbar-toggle {
    visibility: hidden;
  }
}

.nav-pf-vertical .list-group-item.collapsed-nav-item {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.quipucords-view-container {
  background-color: $color-pf-white;
  display: flex;
  flex-direction: column;
  height: 100%;

  > .container-fluid {
    width: 100%;
  }

  .toolbar-pf {
    .refresh-button.btn-link {
      padding-left: 5px;
      padding-right: 5px;
    }

    .last-refresh-time {
      font-size: $font-size-small;
      margin-left: 5px;
      position: relative;
      top: -1px;
    }
  }
}

// List container should scroll
.quipucords-list-container {
  flex: 1;
  padding: 0 20px;
  overflow-y: auto;
  width: 100%;

  .list-view-pf-checkbox {
    padding-top: 3px;
  }
}

.quipicords-list-view {
  .list-view-pf-actions {
    margin-left: 0;
    text-align: right;
    width: 150px;

    .btn-link {
      color: $color-pf-black-700;
      .pficon, .fa {
        font-size: 14px;
      }
      &:hover, &:focus {
        color: $color-pf-blue;
      }
    }
    .dropdown.btn-group {
      margin-left: 10px;
    }
  }

  .list-item-name {
    font-size: 16px;
    font-weight: 600;
    margin: -7px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .list-view-pf-left .pficon.list-view-pf-icon-sm, .list-view-pf-left .fa.list-view-pf-icon-sm {
    border: 0;
  }

  .list-group-item-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;

    .container-fluid {
      padding-right: 40px;
      flex: 1 1 auto;
      .dropdown.btn-group {
        .dropdown-toggle {
          color: $color-pf-black-700;
          &:hover, &:focus {
            color: $color-pf-blue;
          }
        }
      }
    }

    .pager {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .host-results {
      width: 100%;
    }

    .hidden-results {
      opacity: 0;
      span {
        white-space: nowrap;
      }
    }

    .host-list {
      overflow-y: auto;
      max-height: 300px;
      border: solid 1px $list-view-divider;
      border-left: 0;
      border-right: 0;
      margin-top: 25px;
      padding: 5px 20px 5px 10px;
    }

    .show-next-button {
      padding-left: 0;
    }

    // Within an expansion area, make blank slate become a single line, no background, no borders
    .blank-slate-pf {
      background: transparent;
      border: none;
      padding: 10px 20px;
      .blank-slate-pf-icon {
        font-size: 22px;
        line-height: 22px;
        float: left;
      }
      .blank-slate-pf-title {
        font-size: 12px;
        line-height: 22px;
        text-align: left;
        margin-top: 0;
        margin-left: 10px;
        float: left;
      }
      .blank-slate-pf-info {
        float: left;
        margin-left: 10px;
      }
    }
  }
}


.list-view-pagination-top {
  padding: 0 14px;
}

.toolbar-pf-results .quipucords-view-count {
  float: right;
  margin-right: 0;
}

.quipucords-split-description {
  display: flex;
  flex-direction: row;
}

.quipucords-description-left {
  width: 50%;
  margin-right: 10px;
  .list-group-item-heading {
    margin-right: 0px;

    .btn-link {
      font-size: inherit;
    }
  }
  .list-group-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0px;
  }
}

.quipucords-description-right {
  width: 50%;
}

.quipucords-sources-popover-scroll {
  .popover-content {
    max-height: 80px;
    overflow-y: auto;
  }
}

.quipucords-popover-list {
  padding-left: inherit;
}

.quipucords-sources-network-button {
  padding-left: 0;
}

.blank-slate-pf.full-page-blank-slate {
  border: none;
}

.blank-slate-pf.list-view-blank-slate {
  background-color: transparent;
  border: none;
  height: 100%;
  margin: 0 20px;
}

.list-view-info-item-icon-count {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95px;

  &.empty-count {
    font-style: italic;
    opacity: 0.8;
  }
}

.quipucords-form-control.form-control[readonly] {
  background-color: $color-pf-white;
  border: 0;
  color: inherit;
  font-weight: 700;
  &[type=textarea] {
    resize: none;
  }
}

.quipucords-scan-list-item .list-view-pf-left {
  overflow: hidden;
  padding-top: 6px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.quipucords-credential-list-item {
  .list-view-pf-description {
    margin-top: 4px;
  }
  .list-view-pf-additional-info {
    margin-top: -3px;
  }
}

.blank-slate-pf button {
  width: 155px;
}

.list-view-pf-actions .dropdown.btn-group {
  margin-left: 10px;
}

.form-split-button {
  .dropdown {
    display: flex;
    width: 100%;
    .form-control.btn {
      text-align: left;
    }
    ul {
      min-width: 100%;
    }
  }
}

.confirm-modal-body {
  display: flex;
  font-size: 16px;

  .confirm-modal-icon {
    font-size: 3em;
    margin-right: 20px;
  }

  .confirm-modal-content {
    display: flex;
    flex-direction: column;

    .spacer {
      flex: 1;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .confirm-modal-content-heading {
    margin-bottom: 10px;
  }
}

.quipucords-dropdownselect {
  .dropdown {
    border-width: 0;
    display: flex;
    padding: 0;
    width: 100%;

    .dropdown-menu {
      width: 100%;
    }
    .dropdown-toggle.btn {
      text-align: left;
      width: 100%;
    }
    .dropdown-toggle.btn {
      > span:first-child {
        width: 92%;
      }
      > span {
        display:inline-block;
      }
    }

    .quipucords-dropdownselect-menuitem {
      margin-left: 0;
      margin-right: 0;
    }
    .quipucords-dropdownselect-menuitem-selected,
    .quipucords-dropdownselect-menuitem-selected:hover,
    .quipucords-dropdownselect-menuitem-selected:focus {
      background-color: $color-pf-blue-400;
      border-width: 0;
      color: $color-pf-white;

      > a, > a:focus {
        background-color: inherit;
        border-color: $color-pf-blue-400;
        color: inherit;
        outline: inherit;
      }
    }
    .quipucords-dropdownselect-menuitemname {
      padding-left: 0;
      padding-right: 0;
    }
    .quipucords-dropdownselect-menuitemcheck {
      padding-right: 5px;
      text-align: right;
    }
  }
}

.quipucords-wizard {
  .form-horizontal .form-group {
    margin-left:0;
    margin-right:0;
  }

  .form-horizontal .form-group label {
    padding-right: 0;
  }

  .input-group .input-group-btn .btn {
    height: 26px;
  }

  .form-horizontal h3 {
    margin-top: 0;
  }

  .btn-file {
    @extend .input-group-btn;
  }

  @media (min-width: $screen-sm-min) {
    margin: 30px auto;
    padding: inherit;
    width: 600px;

    .wizard-pf-row {
      height: 400px;
    }
  }
}

.pficon.pficon-disconnected.is-error::before {
  color: $color-pf-red-100;
}
