/* _views.scss */

// Setup for internal vertical scroll
.quipucords-content {
  bottom: 0;
  top: $navbar-pf-vertical-height;
  right: 0;
  position: fixed;
  left: $nav-pf-vertical-width;
  .collapsed-nav & {
    left: $nav-pf-vertical-collapsed-width;
  }
  .hidden-nav & {
    left: 0;
  }
}

.layout-pf.hidden-nav-menu {
  .nav-pf-vertical {
    border: 0;
    width: 0;
  }
  .container-pf-nav-pf-vertical {
    margin-left: 0;
  }
  .navbar-toggle {
    visibility: hidden;
  }
}

.quipucords-view-container {
  background-color: $color-pf-white;
  display: flex;
  flex-direction: column;
  height: 100%;

  > .container-fluid {
    width: 100%;
  }
}

// List container should scroll
.quipucords-list-container {
  flex: 1;
  padding: 0 20px;
  overflow-y: auto;
  width: 100%;

}

.quipicords-list-view {
  .list-view-pf-actions {
    margin-left: 0;
    text-align: right;
    width: 150px;

    .btn-link {
      color: $color-pf-black-700;
      .pficon, .fa {
        font-size: 14px;
      }
      &:hover, &:focus {
        color: $color-pf-blue;
      }
    }
    .dropdown.btn-group {
      margin-left: 10px;
    }
  }

  .list-view-pf-left .pficon.list-view-pf-icon-sm, .list-view-pf-left .fa.list-view-pf-icon-sm {
    border: 0;
    padding-top: 2px;
  }
}

.list-view-pagination-top {
  padding: 0 14px;
}

.toolbar-pf-results .quipucords-view-count {
  float: right;
  margin-right: 0;
}

.quipucords-split-description {
  display: flex;
  flex-direction: row;
}

.quipucords-description-left {
  width: 50%;
  margin-right: 10px;
  .list-group-item-heading {
    margin-right: 0px;
  }
  .list-group-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0px;
  }
}

.quipucords-description-right {
  width: 50%;
}

.blank-slate-pf.full-page-blank-slate {
  border: none;
}

.blank-slate-pf.list-view-blank-slate {
  background-color: transparent;
  border: none;
  height: 100%;
  margin: 0 20px;
}

.list-view-info-item-text-count {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95px;
}

.list-view-info-item-icon-count {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95px;
}

.quipucords-form-control.form-control[readonly] {
  background-color: $color-pf-white;
  border: 0;
  color: inherit;
  font-weight: 700;
  &[type=textarea] {
    resize: none;
  }
}

.quipucords-scan-list-item .list-view-pf-left {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.quipucords-credential-list-item {
  @media (min-width: 992px) {
    .list-group-item-heading {
      width: calc(60% - 20px);
    }
    .list-group-item-text {
      width: calc(40% - 20px);
    }
  }
}

.blank-slate-pf button {
  width: 155px;
}

.list-view-pf-actions .dropdown.btn-group {
  margin-left: 10px;
}

.form-split-button {
  .dropdown {
    display: flex;
    width: 100%;
    .form-control.btn {
      text-align: left;
    }
    ul {
      min-width: 100%;
    }
  }
}

.confirm-modal-body {
  display: flex;
  font-size: 16px;

  .confirm-modal-icon {
    font-size: 3em;
    margin-right: 20px;
  }

  .confirm-modal-content {
    display: flex;
    flex-direction: column;

    .spacer {
      flex: 1;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.quipucords-wizard {
  .form-horizontal .form-group {
    margin-left:0;
    margin-right:0;
  }

  .form-horizontal .form-group label {
    padding-right: 0;
  }

  .input-group .input-group-btn .btn {
    height: 26px;
  }

  .form-horizontal h3 {
    margin-top: 0;
  }

  .btn-file {
    @extend .input-group-btn;
  }

  @media (min-width: $screen-sm-min) {
    margin: 30px auto;
    padding: inherit;
    width: 600px;

    .wizard-pf-row {
      height: 400px;
    }
  }
}

