/* _views.scss */
.quipicords-list-view {
  margin-top: 0;
  margin-bottom: 0;
}

.blank-slate-pf.full-page-blank-slate {
  border: none;
}

.list-view-info-item-text-count {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
}

.list-view-info-item-icon-count {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
}

.list-view-compound-item-icon:before {
  position: relative;
  top: 2px;
}
