.quipucords-wizard {
  .wizard-pf-complete.blank-slate-pf {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .form-horizontal .form-group {
    margin-left:0;
    margin-right:0;
  }

  .form-horizontal .form-group label {
    padding-right: 0;
  }

  .input-group .input-group-btn .btn {
    height: 26px;
  }

  .form-horizontal h3 {
    margin-top: 0;
  }

  .btn-file {
    @extend .input-group-btn;
  }

  @media (min-width: $screen-sm-min) {
    margin: 30px auto;
    padding: inherit;
    width: 600px;

    .wizard-pf-row {
      height: 400px;
    }
  }
}
