interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1/clusterversions
  response:
    body:
      string: '{"apiVersion":"config.openshift.io/v1","items":[{"apiVersion":"config.openshift.io/v1","kind":"ClusterVersion","metadata":{"creationTimestamp":"2023-01-01T02:05:00Z","generation":2,"managedFields":[{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{".":{},"f:channel":{},"f:clusterID":{}}},"manager":"cluster-bootstrap","operation":"Update","time":"2023-01-01T02:05:00Z"},{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{".":{},"f:availableUpdates":{},"f:capabilities":{".":{},"f:enabledCapabilities":{},"f:knownCapabilities":{}},"f:conditions":{},"f:desired":{".":{},"f:channels":{},"f:image":{},"f:url":{},"f:version":{}},"f:history":{},"f:observedGeneration":{},"f:versionHash":{}}},"manager":"cluster-version-operator","operation":"Update","subresource":"status","time":"2023-01-01T02:05:03Z"}],"name":"version","resourceVersion":"36690","uid":"392cceaf-07b0-42d2-a8ee-a08277968d84"},"spec":{"channel":"stable-4.11","clusterID":"ba2ff442-7623-44d6-9992-ba3e9ad12004"},"status":{"availableUpdates":[{"channels":["candidate-4.11","candidate-4.12","fast-4.11","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:e86e058f7f66a687e273792f2e4ec70f3cc43ec9d2894bebee5caf5c4d4851a3","url":"https://access.redhat.com/errata/RHSA-2022:8893","version":"4.11.20"},{"channels":["candidate-4.11","candidate-4.12","fast-4.11","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:22e149142517dfccb47be828f012659b1ccf71d26620e6f62468c264a7ce7863","url":"https://access.redhat.com/errata/RHBA-2022:8698","version":"4.11.18"}],"capabilities":{"enabledCapabilities":["baremetal","marketplace","openshift-samples"],"knownCapabilities":["baremetal","marketplace","openshift-samples"]},"conditions":[{"lastTransitionTime":"2023-01-01T02:05:03Z","status":"True","type":"RetrievedUpdates"},{"lastTransitionTime":"2023-01-01T02:05:03Z","message":"Kubernetes
        1.25 and therefore OpenShift 4.12 remove several APIs which require admin
        consideration. Please see the knowledge article https://access.redhat.com/articles/6955381
        for details and instructions.","reason":"AdminAckRequired","status":"False","type":"Upgradeable"},{"lastTransitionTime":"2023-01-01T02:05:03Z","message":"Capabilities
        match configured spec","reason":"AsExpected","status":"False","type":"ImplicitlyEnabledCapabilities"},{"lastTransitionTime":"2023-01-01T02:05:03Z","message":"Payload
        loaded version=\"4.11.17\" image=\"quay.io/openshift-release-dev/ocp-release@sha256:a4e3391f3ff6e33211a91ccd446f2dc57075301e3b974023172b8b8f6aac5461\"","reason":"PayloadLoaded","status":"True","type":"ReleaseAccepted"},{"lastTransitionTime":"2023-01-01T04:12:54Z","message":"Done
        applying 4.11.17","status":"True","type":"Available"},{"lastTransitionTime":"2023-01-01T04:12:54Z","status":"False","type":"Failing"},{"lastTransitionTime":"2023-01-01T04:12:54Z","message":"Cluster
        version is 4.11.17","status":"False","type":"Progressing"}],"desired":{"channels":["candidate-4.11","candidate-4.12","fast-4.11","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:a4e3391f3ff6e33211a91ccd446f2dc57075301e3b974023172b8b8f6aac5461","url":"https://access.redhat.com/errata/RHBA-2022:8627","version":"4.11.17"},"history":[{"completionTime":"2023-01-01T04:12:54Z","image":"quay.io/openshift-release-dev/ocp-release@sha256:a4e3391f3ff6e33211a91ccd446f2dc57075301e3b974023172b8b8f6aac5461","startedTime":"2023-01-01T02:05:03Z","state":"Completed","verified":false,"version":"4.11.17"}],"observedGeneration":2,"versionHash":"fTSfOLtQuEo="}}],"kind":"ClusterVersionList","metadata":{"continue":"","resourceVersion":"1862829"}}

        '
    headers:
      Audit-Id:
      - f3f10d84-e426-4134-b0a4-ccf820bec3cf
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f8a416f6-2ac0-4d1e-87c4-d00d2095eeb3
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - f2a7e076-58e9-4649-b759-da14a6245d04
    status:
      code: 200
      message: OK
version: 1
