interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"24\",\n  \"gitVersion\": \"v1.24.6+5658434\",\n
        \ \"gitCommit\": \"eddac29feb4bb46b99fb570999324e582d761a66\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-11-09T10:31:39Z\",\n  \"goVersion\": \"go1.18.7\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      Audit-Id:
      - c88c0471-b003-49e8-bb34-b9c37075b58b
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f8a416f6-2ac0-4d1e-87c4-d00d2095eeb3
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - f2a7e076-58e9-4649-b759-da14a6245d04
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version/openshift
  response:
    body:
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"the
        server could not find the requested resource","reason":"NotFound","details":{},"code":404}

        '
    headers:
      Audit-Id:
      - a32853a9-eb32-4da5-9a1b-97592a53ad64
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f8a416f6-2ac0-4d1e-87c4-d00d2095eeb3
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - f2a7e076-58e9-4649-b759-da14a6245d04
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis
  response:
    body:
      string: '{"kind":"APIGroupList","apiVersion":"v1","groups":[{"name":"apiregistration.k8s.io","versions":[{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}},{"name":"apps","versions":[{"groupVersion":"apps/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apps/v1","version":"v1"}},{"name":"events.k8s.io","versions":[{"groupVersion":"events.k8s.io/v1","version":"v1"},{"groupVersion":"events.k8s.io/v1beta1","version":"v1beta1"}],"preferredVersion":{"groupVersion":"events.k8s.io/v1","version":"v1"}},{"name":"authentication.k8s.io","versions":[{"groupVersion":"authentication.k8s.io/v1",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"config.openshift.io/v1","resources":[{"name":"apiservers","singularName":"apiserver","namespaced":false,"kind":"APIServer","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"yr4VqIMvOkg="},{"name":"apiservers/status","singularName":"","namespaced":false,"kind":"APIServer","verbs":["get","patch","update"]},{"name":"oauths","singularName":"oauth","namespaced":false,"kind":"OAuth","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"4BZS3Rc6+4g="},{"name":"oauths/status","singularName":"","namespaced":false,"kind":"OAuth","verbs":["get","patch","update"]},{"name":"projects","singularName":"project","namespaced":fal[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1/clusterversions
  response:
    body:
      string: '{"apiVersion":"config.openshift.io/v1","items":[{"apiVersion":"config.openshift.io/v1","kind":"ClusterVersion","metadata":{"creationTimestamp":"2023-01-01T02:05:00Z","generation":2,"managedFields":[{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{".":{},"f:channel":{},"f:clusterID":{}}},"manager":"cluster-bootstrap","operation":"Update","time":"2023-01-01T02:05:00Z"},{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{".":{},"f:availableUpdates":{},"f:capabilities":{".":{},"f:enabledCapabilities":{},"f:knownCapabilities":{}},"f:conditions":{},"f:desired":{".":{},"f:channels":{},"f:image":{},"f:url":{},"f:version":{}},"f:history":{},"f:observedGeneration":{},"f:versionHash":{}}},"manager":"cluster-version-operator","operation":"Update","subresource":"status","time":"2023-01-01T02:05:03Z"}],"name":"version","resourceVersion":"36690","uid":"392cceaf-07b0-42d2-a8ee-a08277968d84"},"spec":{"channel":"stable-4.11","clusterID":"ba2ff442-7623-44d6-9992-ba3e9ad12004"},"status":{"availableUpdates":[{"channels":["candidate-4.11","candidate-4.12","fast-4.11","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:e86e058f7f66a687e273792f2e4ec70f3cc43ec9d2894bebee5caf5c4d4851a3","url":"https://access.redhat.com/errata/RHSA-2022:8893","version":"4.11.20"},{"channels":["candidate-4.11","candidate-4.12","fast-4.11","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:22e149142517dfccb47be828f012659b1ccf71d26620e6f62468c264a7ce7863","url":"https://access.redhat.com/errata/RHBA-2022:8698","version":"4.11.18"}],"capabilities":{"enabledCapabilities":["baremetal","marketplace","openshift-samples"],"knownCapabilities":["baremetal","marketplace","openshift-samples"]},"conditions":[{"lastTransitionTime":"2023-01-01T02:05:03Z","status":"True","type":"RetrievedUpdates"},{"lastTransitionTime":"2023-01-01T02:05:03Z","message":"Kubernetes
        1.25 and therefore OpenShift 4.12 remove several APIs which require admin
        consideration. Please see the knowledge article https://access.redhat.com/articles/6955381
        for details and instructions.","reason":"AdminAckRequired","status":"False","type":"Upgradeable"},{"lastTransitionTime":"2023-01-01T02:05:03Z","message":"Capabilities
        match configured spec","reason":"AsExpected","status":"False","type":"ImplicitlyEnabledCapabilities"},{"lastTransitionTime":"2023-01-01T02:05:03Z","message":"Payload
        loaded version=\"4.11.17\" image=\"quay.io/openshift-release-dev/ocp-release@sha256:a4e3391f3ff6e33211a91ccd446f2dc57075301e3b974023172b8b8f6aac5461\"","reason":"PayloadLoaded","status":"True","type":"ReleaseAccepted"},{"lastTransitionTime":"2023-01-01T04:12:54Z","message":"Done
        applying 4.11.17","status":"True","type":"Available"},{"lastTransitionTime":"2023-01-01T04:12:54Z","status":"False","type":"Failing"},{"lastTransitionTime":"2023-01-01T04:12:54Z","message":"Cluster
        version is 4.11.17","status":"False","type":"Progressing"}],"desired":{"channels":["candidate-4.11","candidate-4.12","fast-4.11","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:a4e3391f3ff6e33211a91ccd446f2dc57075301e3b974023172b8b8f6aac5461","url":"https://access.redhat.com/errata/RHBA-2022:8627","version":"4.11.17"},"history":[{"completionTime":"2023-01-01T04:12:54Z","image":"quay.io/openshift-release-dev/ocp-release@sha256:a4e3391f3ff6e33211a91ccd446f2dc57075301e3b974023172b8b8f6aac5461","startedTime":"2023-01-01T02:05:03Z","state":"Completed","verified":false,"version":"4.11.17"}],"observedGeneration":2,"versionHash":"fTSfOLtQuEo="}}],"kind":"ClusterVersionList","metadata":{"continue":"","resourceVersion":"821733"}}

        '
    headers:
      Audit-Id:
      - bfd4e347-e8ac-40e3-9a32-b310c6824659
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f8a416f6-2ac0-4d1e-87c4-d00d2095eeb3
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - f2a7e076-58e9-4649-b759-da14a6245d04
    status:
      code: 200
      message: OK
version: 1
