interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1/clusteroperators
  response:
    body:
      string: '{"apiVersion":"config.openshift.io/v1","items":[{"apiVersion":"config.openshift.io/v1","kind":"ClusterOperator","metadata":{"annotations":{"exclude.release.openshift.io/internal-openshift-hosted":"true","include.release.openshift.io/self-managed-high-availability":"true","include.release.openshift.io/single-node-developer":"true"},"creationTimestamp":"2023-01-01T02:05:03Z","generation":1,"managedFields":[{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:exclude.release.openshift.io/internal-openshift-hosted":{},"f:include.release.openshift.io/self-managed-high-availability":{},"f:include.release.openshift.io/single-node-developer":{}},"f:ownerReferences":{".":{},"k:{\"uid\":\"392cceaf-07b0-42d2-a8ee-a08277968d84\"}":{}}},"f:spec":{}},"manager":"Go-http-client","operation":"Update","time":"2023-01-01T02:05:03Z"},{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{".":{},"f:conditions":{},"f:extension":{},"f:relatedObjects":{},"f:versions":{}}},"manager":"Go-http-client","operation":"Update","subresource":"status","time":"2023-01-01T03:57:57Z"}],"name":"authentication","ownerReferences":[{"apiVersion":"config.openshift.io/v1","kind":"ClusterVersion","name":"version","uid":"392cceaf-07b0-42d2-a8ee-a08277968d84"}],"resourceVersion":"40314","uid":"472f0e34-2306-43d8-95fa-7fc2e76e7e35"},"spec":{},"status":{"conditions":[{"lastTransitionTime":"2023-01-01T04:05:22Z","message":"All
        is well","reason":"AsExpected","status":"False","type":"Degraded"},{"lastTransitionTime":"2023-01-01T04:19:17Z","message":"AuthenticatorCertKeyProgressing:
        All is well","reason":"AsExpected","status":"False","type":"Progressing"},{"lastTransitionTime":"2023-01-01T04:12:32Z","message":"All
        is well","reason":"AsExpected","status":"True","type":"Available"},{"lastTransitionTime":"2023-01-01T03:57:57Z","message":"All
        is well","reason":"AsExpected","status":"True","type":"Upgradeable"}],"extension":null,"relatedObjects":[{"group":"operator.openshift.io","name":"cluster","resource":"authentications"},{"group":"config.openshift.io","name":"cluster","resource":"authentications"},{"group":"config.openshift.io","name":"cluster","resource":"infrastructures"},{"group":"config.openshift.io","name":"cluster","resource":"oauths"},{"group":"route.openshift.io","name":"oauth-openshift","namespace":"openshift-authentication","resource":"routes"},{"group":"","name":"oauth-openshift","namespace":"openshift-authentication","resource":"services"},{"group":"","name":"openshift-config","resource":"namespaces"},{"group":"","name":"openshift-config-managed","resource":"namespaces"},{"group":"","name":"openshift-authentication","resource":"namespaces"},{"group":"","name":"openshift-authentication-operator","resource":"namespaces"},{"group":"","name":"openshift-ingress","resource":"namespaces"},{"group":"","name":"openshift-oauth-apiserver","resource":"namespaces"}],"versions":[{"name":"operator","version":"4.11.17"},{"name":"oauth-apiserver","version":"4.11.17"},{"name":"oauth-openshift","version":"4.11.17_openshift"}]}},{"apiVersion":"config.openshift.io/v1","kind":"ClusterOperator","metadata":{"annotations":{"capability.openshift.io/name":"baremetal","exclude.release.openshift.io/internal-openshift-hosted":"true","include.release.openshift.io/self-managed-high-availability":"true","include.release.openshift.io/single-node-developer":"true"},"creationTimestamp":"2023-01-01T02:05:03Z","generation[...]
