interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1/clusterversions
  response:
    body:
      string: '{"apiVersion":"config.openshift.io/v1","items":[{"apiVersion":"config.openshift.io/v1","kind":"ClusterVersion","metadata":{"creationTimestamp":"2023-03-28T06:47:27Z","generation":4,"managedFields":[{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{".":{},"f:capabilities":{".":{},"f:additionalEnabledCapabilities":{},"f:baselineCapabilitySet":{}},"f:channel":{}}},"manager":"cluster-bootstrap","operation":"Update","time":"2023-03-28T06:47:27Z"},{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:clusterID":{},"f:overrides":{}}},"manager":"kubectl-patch","operation":"Update","time":"2023-04-25T20:42:50Z"},{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{".":{},"f:availableUpdates":{},"f:capabilities":{".":{},"f:enabledCapabilities":{},"f:knownCapabilities":{}},"f:conditionalUpdates":{},"f:conditions":{},"f:desired":{".":{},"f:image":{},"f:url":{},"f:version":{}},"f:history":{},"f:observedGeneration":{},"f:versionHash":{}}},"manager":"cluster-version-operator","operation":"Update","subresource":"status","time":"2023-06-05T17:05:12Z"}],"name":"version","resourceVersion":"176264","uid":"4cae1a30-c50f-434e-b650-b800d19ee412"},"spec":{"capabilities":{"additionalEnabledCapabilities":["openshift-samples","marketplace","Console"],"baselineCapabilitySet":"None"},"channel":"stable-4.12","clusterID":"5f5d1766-3f5b-47af-91ca-76740e47cb89","overrides":[{"group":"apps","kind":"Deployment","name":"cluster-monitoring-operator","namespace":"openshift-monitoring","unmanaged":true},{"group":"config.openshift.io","kind":"ClusterOperator","name":"monitoring","namespace":"","unmanaged":true},{"group":"apps","kind":"Deployment","name":"cloud-credential-operator","namespace":"openshift-cloud-credential-operator","unmanaged":true},{"group":"config.openshift.io","kind":"ClusterOperator","name":"cloud-credential","namespace":"","unmanaged":true},{"group":"apps","kind":"Deployment","name":"cluster-autoscaler-operator","namespace":"openshift-machine-api","unmanaged":true},{"group":"config.openshift.io","kind":"ClusterOperator","name":"cluster-autoscaler","namespace":"","unmanaged":true},{"group":"apps","kind":"Deployment","name":"cluster-cloud-controller-manager-operator","namespace":"openshift-cloud-controller-manager-operator","unmanaged":true},{"group":"config.openshift.io","kind":"ClusterOperator","name":"cloud-controller-manager","namespace":"","unmanaged":true}]},"status":{"availableUpdates":[{"channels":["candidate-4.12","candidate-4.13","eus-4.12","fast-4.12","fast-4.13","stable-4.12"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:8465e416a403cec2e6887c8aebe783b976f46f81d513890f17037b652b143de5","url":"https://access.redhat.com/errata/RHBA-2023:3208","version":"4.12.18"},{"channels":["candidate-4.12","candidate-4.13","eus-4.12","fast-4.12","fast-4.13","stable-4.12"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:7ca5f8aa44bbc537c5a985a523d87365eab3f6e72abc50b7be4caae741e093f4","url":"https://access.redhat.com/errata/RHBA-2023:2699","version":"4.12.17"},{"channels":["candidate-4.12","candidate-4.13","eus-4.12","fast-4.12","fast-4.13","stable-4.12"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:5339b3c4686010dc42990e0addce5aa4fddd[...]
