interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1/clusteroperators
  response:
    body:
      string: '{"apiVersion":"config.openshift.io/v1","items":[{"apiVersion":"config.openshift.io/v1","kind":"ClusterOperator","metadata":{"annotations":{"exclude.release.openshift.io/internal-openshift-hosted":"true","include.release.openshift.io/self-managed-high-availability":"true","include.release.openshift.io/single-node-developer":"true"},"creationTimestamp":"2023-03-28T06:47:32Z","generation":1,"managedFields":[{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:exclude.release.openshift.io/internal-openshift-hosted":{},"f:include.release.openshift.io/self-managed-high-availability":{},"f:include.release.openshift.io/single-node-developer":{}},"f:ownerReferences":{".":{},"k:{\"uid\":\"4cae1a30-c50f-434e-b650-b800d19ee412\"}":{}}},"f:spec":{}},"manager":"cluster-version-operator","operation":"Update","time":"2023-03-28T06:47:32Z"},{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{".":{},"f:extension":{}}},"manager":"cluster-version-operator","operation":"Update","subresource":"status","time":"2023-03-28T06:47:33Z"},{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:conditions":{},"f:relatedObjects":{},"f:versions":{}}},"manager":"authentication-operator","operation":"Update","subresource":"status","time":"2023-06-06T20:15:47Z"}],"name":"authentication","ownerReferences":[{"apiVersion":"config.openshift.io/v1","kind":"ClusterVersion","name":"version","uid":"4cae1a30-c50f-434e-b650-b800d19ee412"}],"resourceVersion":"583417","uid":"5cd8b3d8-47f9-4015-8f65-446873455062"},"spec":{},"status":{"conditions":[{"lastTransitionTime":"2023-06-06T13:12:07Z","message":"All
        is well","reason":"AsExpected","status":"False","type":"Degraded"},{"lastTransitionTime":"2023-06-06T11:16:05Z","message":"AuthenticatorCertKeyProgressing:
        All is well","reason":"AsExpected","status":"False","type":"Progressing"},{"lastTransitionTime":"2023-06-06T20:15:47Z","message":"All
        is well","reason":"AsExpected","status":"True","type":"Available"},{"lastTransitionTime":"2023-03-28T06:50:11Z","message":"All
        is well","reason":"AsExpected","status":"True","type":"Upgradeable"}],"extension":null,"relatedObjects":[{"group":"operator.openshift.io","name":"cluster","resource":"authentications"},{"group":"config.openshift.io","name":"cluster","resource":"authentications"},{"group":"config.openshift.io","name":"cluster","resource":"infrastructures"},{"group":"config.openshift.io","name":"cluster","resource":"oauths"},{"group":"route.openshift.io","name":"oauth-openshift","namespace":"openshift-authentication","resource":"routes"},{"group":"","name":"oauth-openshift","namespace":"openshift-authentication","resource":"services"},{"group":"","name":"openshift-config","resource":"namespaces"},{"group":"","name":"openshift-config-managed","resource":"namespaces"},{"group":"","name":"openshift-authentication","resource":"namespaces"},{"group":"","name":"openshift-authentication-operator","resource":"namespaces"},{"group":"","name":"openshift-ingress","resource":"namespaces"},{"group":"","name":"openshift-oauth-apiserver","resource":"namespaces"}],"versions":[{"name":"operator","version":"4.12.9"},{"name":"oauth-apiserver","version":"4.12.9"},{"name":"oauth-openshift","version":"4.12.9_openshift"}]}},{"apiVersion":"config.openshift.io/v1","kind":"ClusterOperator","metadata":{"annotations":{"exclude.release.openshift.io/internal-openshift-hosted":"true","include.release.openshift.io/self-managed-high-availability":"true","include.release.openshift.io/single-node-developer":"true"},"creationTimestamp":"2023-03-28T06:47:32Z","generation":1,"managedFields":[{"apiVersion":"config.ope[...]
