interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/operators.coreos.com/v1alpha1/clusterserviceversions
  response:
    body:
      string: '{"apiVersion":"operators.coreos.com/v1alpha1","items":[{"apiVersion":"operators.coreos.com/v1alpha1","kind":"ClusterServiceVersion","metadata":{"annotations":{"alm-examples":"[{\"apiVersion\":
        \"operator.open-cluster-management.io/v1\", \"kind\": \"MultiClusterHub\",
        \"metadata\": {\"name\": \"multiclusterhub\", \"namespace\": \"open-cluster-management\"},
        \"spec\": {}}, {\"apiVersion\": \"observability.open-cluster-management.io/v1beta1\",
        \"kind\": \"MultiClusterObservability\", \"metadata\": {\"name\": \"observability\"},
        \"spec\": {\"observabilityAddonSpec\": {}, \"storageConfigObject\": {\"metricObjectStorage\":
        {\"key\": \"thanos.yaml\", \"name\": \"thanos-object-storage\"}}}}, {\"apiVersion\":
        \"observability.open-cluster-management.io/v1beta1\", \"kind\": \"ObservabilityAddon\",
        \"metadata\": {\"name\": \"observability-addon\"}, \"spec\": {\"enableMetrics\":
        true, \"interval\": 30}}, {\"apiVersion\": \"observability.open-cluster-management.io/v1beta2\",
        \"kind\": \"MultiClusterObservability\", \"metadata\": {\"name\": \"observability\"},
        \"spec\": {\"observabilityAddonSpec\": {}, \"storageConfig\": {\"metricObjectStorage\":
        {\"key\": \"thanos.yaml\", \"name\": \"thanos-object-storage\"}}}}]","capabilities":"Seamless
        Upgrades","categories":"Integration \u0026 Delivery","certified":"true","createdAt":"2023-05-23T22:16:48Z","description":"Advanced
        provisioning and management of OpenShift and Kubernetes clusters","olm.operatorGroup":"open-cluster-management-6j269","olm.operatorNamespace":"open-cluster-management","olm.skipRange":"\u003e=2.6.0
        \u003c2.7.4","olm.targetNamespaces":"open-cluster-management","operatorframework.io/initialization-resource":"{\"apiVersion\":\"operator.open-cluster-management.io/v1\",
        \"kind\":\"MultiClusterHub\",\"metadata\":{\"name\":\"multiclusterhub\",\"namespace\":\"open-cluster-management\"},
        \"spec\": {}}","operatorframework.io/properties":"{\"properties\":[{\"type\":\"olm.gvk\",\"value\":{\"group\":\"core.observatorium.io\",\"kind\":\"Observatorium\",\"version\":\"v1alpha1\"}},{\"type\":\"olm.gvk\",\"value\":{\"group\":\"observability.open-cluster-management.io\",\"kind\":\"MultiClusterObservability\",\"version\":\"v1beta1\"}},{\"type\":\"olm.gvk\",\"value\":{\"group\":\"observability.open-cluster-management.io\",\"kind\":\"MultiClusterObservability\",\"version\":\"v1beta2\"}},{\"type\":\"olm.gvk\",\"value\":{\"group\":\"observability.open-cluster-management.io\",\"kind\":\"ObservabilityAddon\",\"version\":\"v1beta1\"}},{\"type\":\"olm.gvk\",\"value\":{\"group\":\"operator.open-cluster-management.io\",\"kind\":\"MultiClusterHub\",\"version\":\"v1\"}},{\"type\":\"olm.gvk\",\"value\":{\"group\":\"submarineraddon.open-cluster-management.io\",\"kind\":\"SubmarinerConfig\",\"version\":\"v1alpha1\"}},{\"type\":\"olm.gvk\",\"value\":{\"group\":\"submarineraddon.open-cluster-management.io\",\"kind\":\"SubmarinerDiagnoseConfig\",\"version\":\"v1alpha1\"}},{\"type\":\"olm.package\",\"value\":{\"packageName\":\"advanced-cluster-management\",\"version\":\"2.7.4\"}}]}","operatorframework.io/suggested-namespace":"open-cluster-management","operators.openshift.io/infrastructure-features":"[\"disconnected\",
        \"proxy-aware\", \"fips\"]","operators.openshift.io/valid-subscription":"[\"OpenShift
        Platform Plus\", \"Red Hat Advanced Cluster Management for Kubernetes\"]","operators.operatorframework.io/internal-objects":"[\"observatoria.core.observatorium.io\",
        \"observabilityaddons.observability.open-cluster-management.io\"]","support":"Red
        Hat"},"creationTimestamp":"2023-06-08T14:47:37Z","generation":1,"labels":{"operatorframework.io/arch.amd64":"supported","operatorframework.io/arch.arm64":"supported","operatorframework.io/arch.ppc64le":"supported","operatorframework.io/arch.s390x":"supported","operatorframework.io/os.linux":"supported","operators.coreos.com/advanced-cluster-management.open-cluster-management":""},"managedFields":[{"apiVersion":"operators.coreos.com/v1alpha1","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:alm-examples":{},"f:capabilities":{},"f:categories":{},"f:certified":{},"f:createdAt":{},"f:description":{},"f:olm.skipRange":{},"f:operatorframework.io/initialization-resource":{},"f:operatorframework.io/properties":{},"f:operatorframework.io/suggested-namespace":{},"f:operators.openshift.io/infrastructure-features":{},"f:operators.openshift.io/valid-subscription":{},"f:operators.operatorframework.io/internal-objects":{},"f:support":{}},"f:labels":{".":{},"f:operatorframework.io/arch.amd64":{},"f:operatorframework.io/arch.arm64":{},"f:operatorframework.io/arch.ppc64le":{},"f:operatorframework.io/arch.s390x":{},"f:operatorframework.io/os.linux":{}}},"f:spec":{".":{},"f:apiservicedefinitions":{},"f:cleanup":{".":{},"f:enabled":{}},"f:customresourcedefinitions":{".":{},"f:owned":{}},"f:description":{},"f:displayName":{},"f:icon":{},"f:install":{".":{},"f:spec":{".":{},"f:clusterPermissions":{},"f:deployments":{},"f:permissions":{}},"f:strategy":{}},"f:installModes":{},"f:keywords":{},"f:labels":{".":{},"f:app":{}},"f:links":{},"f:maintainers":{},"f:maturity":{},"f:provider":{".":{},"f:name":{}},"f:relatedImages":{},"f:replaces":{},"f:selector":{".":{},"f:matchLabels":{".":{},"f:app":{}}},"f:version":{}}},"manager":"catalog","operation":"Update","time":"2023-06-08T14:47:37Z"},{"apiVersion":"operators.coreos.com/v1alpha1","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:olm.operatorGroup":{},"f:olm.operatorNamespace":{},"f:olm.targetNamespaces":{}},"f:labels":{"f:operators.coreos.com/advanced-cluster-management.open-cluster-management":{}}}},"manager":"olm","operation":"Update","time":"2023-06-08T14:47:38Z"},{"apiVersion":"operators.coreos.com/v1alpha1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{".":{},"f:cleanup":{},"f:conditions":{},"f:lastTransitionTime":{},"f:lastUpdateTime":{},"f:message":{},"f:phase":{},"f:reason":{},"f:requirementStatus":{}}},"manager":"olm","operation":"Update","subresource":"status","time":"2023-06-14T19:12:01Z"}],"name":"advanced-cluster-management.v2.7.4","namespace":"open-cluster-management","resourceVersion":"519162","uid":"903bada8-8950-46ae-b6a5-628e8b54c78d"},"spec":{"apiservicedefinitions":{},"cleanup":{"enabled":false},"customresourcedefinitions":{"owned":[{"description":"MultiClusterHub
        defines the configuration for an instance of the MultiCluster Hub","displayName":"MultiClusterHub","kind":"MultiClusterHub","name":"multiclusterhubs.operator.open-cluster-management.io","specDescriptors":[{"description":"Specifies
        deployment replication for improved availability. Options are: Basic and High
        (default)","displayName":"Availability Configuration","path":"availabilityConfig","x-descriptors":["urn:alm:descriptor:com.tectonic.ui:advanced","urn:alm:descriptor:com.tectonic.ui:select:High","urn:alm:descriptor:com.tectonic.ui:select:Basic"]},{"description":"(Deprecated)
        Provide the customized OpenShift default ingress CA certificate to RHACM","displayName":"Custom
        CA Configmap","path":"customCAConfigmap","x-descriptors":["urn:alm:descriptor:com.tectonic.ui:advanced","urn:alm:descriptor:io.kubernetes:ConfigMap"]},{"description":"Disable
        automatic import of the hub [...]
