interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"24\",\n  \"gitVersion\": \"v1.24.6+5658434\",\n
        \ \"gitCommit\": \"eddac29feb4bb46b99fb570999324e582d761a66\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-11-09T10:31:39Z\",\n  \"goVersion\": \"go1.18.7\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      Audit-Id:
      - c10cf626-6f1a-4848-b7f1-4e9b96a27fb2
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version/openshift
  response:
    body:
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"the
        server could not find the requested resource","reason":"NotFound","details":{},"code":404}

        '
    headers:
      Audit-Id:
      - cb6816e5-30af-4bd1-b6e1-bb06839a8596
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis
  response:
    body:
      string: '{"kind":"APIGroupList","apiVersion":"v1","groups":[{"name":"apiregistration.k8s.io","versions":[{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}},{"name":"apps","versions":[{"groupVersion":"apps/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apps/v1","version":"v1"}},{"name":"events.k8s.io","versions":[{"groupVersion":"events.k8s.io/v1","version":"v1"},{"groupVersion":"events.k8s.io/v1beta1","version":"v1beta1"}],"preferredVersion":{"groupVersion":"events.k8s.io/v1","version":"v1"}},{"name":"authentication.k8s.io","versions":[{"groupVersion":"authentication.k8s.io/v1",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"config.openshift.io/v1","resources":[{"name":"clusterversions","singularName":"clusterversion","namespaced":false,"kind":"ClusterVersion","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"jfyZTemckiE="},{"name":"clusterversions/status","singularName":"","namespaced":false,"kind":"ClusterVersion","verbs":["get","patch","update"]},{"name":"schedulers","singularName":"scheduler","namespaced":false,"kind":"Scheduler","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"ptedUcY9aMg="},{"name":"schedulers/status","singularName":"","namespaced":false,"kind":"Scheduler","verbs":["get","patch","update"]},{"name":"consoles","singularNa[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1
  response:
    body:
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","singularName":"","namespaced":true,"kind":"Binding","verbs":["create"]},{"name":"componentstatuses","singularName":"","namespaced":false,"kind":"ComponentStatus","verbs":["get","list"],"shortNames":["cs"]},{"name":"configmaps","singularName":"","namespaced":true,"kind":"ConfigMap","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cm"],"storageVersionHash":"qFsyl6wFWjQ="},{"name":"endpoints","singularName":"","namespaced":true,"kind":"Endpoints","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ep"],"storageVersionHash":"fWeeMqaN/OA="},{"name":"events","singularName":"","namespaced":true,"kin[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apiregistration.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apiregistration.k8s.io/v1","resources":[{"name":"apiservices","singularName":"","namespaced":false,"kind":"APIService","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"InPBPD7+PqM="},{"name":"apiservices/status","singularName":"","namespaced":false,"kind":"APIService","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 11bce5a9-5869-4cb6-80e8-170242851ecf
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apps/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apps/v1","resources":[{"name":"controllerrevisions","singularName":"","namespaced":true,"kind":"ControllerRevision","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"85nkx63pcBU="},{"name":"daemonsets","singularName":"","namespaced":true,"kind":"DaemonSet","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ds"],"categories":["all"],"storageVersionHash":"dd7pWHUlMKQ="},{"name":"daemonsets/status","singularName":"","namespaced":true,"kind":"DaemonSet","verbs":["get","patch","update"]},{"name":"deployments","singularName":"","namespaced":true,"kind":"Deployment","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["deploy"],"categories":["all"],"storageVersionHash":"8aSe+NMegvE="},{"name":"deployments/scale","singularName":"","namespaced":true,"group":"autoscaling","version":"v1","kind":"Scale","verbs":["get","patch","update"]},{"name":"deployments/status","singularName":"","namespaced":true,"kind":"Deployment","verbs":["get","patch","update"]},{"name":"replicasets","singularName":"","namespaced":true,"kind":"ReplicaSet","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["rs"],"categories":["all"],"storageVersionHash":"P1RzHs8/mWQ="},{"name":"replicasets/scale","singularName":"","namespaced":tru[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/events.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"events.k8s.io/v1","resources":[{"name":"events","singularName":"","namespaced":true,"kind":"Event","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ev"],"storageVersionHash":"r2yiGXH7wu8="}]}

        '
    headers:
      Audit-Id:
      - 68abbc17-93dd-40dd-882a-2e67c5d20bdc
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authentication.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authentication.k8s.io/v1","resources":[{"name":"tokenreviews","singularName":"","namespaced":false,"kind":"TokenReview","verbs":["create"]}]}

        '
    headers:
      Audit-Id:
      - 20b2a69a-1bff-4d9e-b545-63d2d4d6fdb7
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authorization.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authorization.k8s.io/v1","resources":[{"name":"localsubjectaccessreviews","singularName":"","namespaced":true,"kind":"LocalSubjectAccessReview","verbs":["create"]},{"name":"selfsubjectaccessreviews","singularName":"","namespaced":false,"kind":"SelfSubjectAccessReview","verbs":["create"]},{"name":"selfsubjectrulesreviews","singularName":"","namespaced":false,"kind":"SelfSubjectRulesReview","verbs":["create"]},{"name":"subjectaccessreviews","singularName":"","namespaced":false,"kind":"SubjectAccessReview","verbs":["create"]}]}

        '
    headers:
      Audit-Id:
      - 19c579b5-01c4-49aa-9041-c78e7633ae7f
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/autoscaling/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"autoscaling/v1","resources":[{"name":"horizontalpodautoscalers","singularName":"","namespaced":true,"kind":"HorizontalPodAutoscaler","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["hpa"],"categories":["all"],"storageVersionHash":"oQlkt7f5j/A="},{"name":"horizontalpodautoscalers/status","singularName":"","namespaced":true,"kind":"HorizontalPodAutoscaler","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 5bb4d4c6-0c67-46c2-bf1b-68c11726f786
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/batch/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"batch/v1","resources":[{"name":"cronjobs","singularName":"","namespaced":true,"kind":"CronJob","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cj"],"categories":["all"],"storageVersionHash":"sd5LIXh4Fjs="},{"name":"cronjobs/status","singularName":"","namespaced":true,"kind":"CronJob","verbs":["get","patch","update"]},{"name":"jobs","singularName":"","namespaced":true,"kind":"Job","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["all"],"storageVersionHash":"mudhfqk/qZY="},{"name":"jobs/status","singularName":"","namespaced":true,"kind":"Job","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 9d7ec8d2-501d-44d7-882a-ac33284331e2
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/certificates.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"certificates.k8s.io/v1","resources":[{"name":"certificatesigningrequests","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["csr"],"storageVersionHash":"95fRKMXA+00="},{"name":"certificatesigningrequests/approval","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["get","patch","update"]},{"name":"certificatesigningrequests/status","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - ed9a4d46-2bed-45e8-949f-5676f78265ad
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/networking.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"networking.k8s.io/v1","resources":[{"name":"ingressclasses","singularName":"","namespaced":false,"kind":"IngressClass","verbs":["create","delete","deletecollection","get","list","patch","update","wat[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/policy/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"policy/v1","resources":[{"name":"poddisruptionbudgets","singularName":"","namespaced":true,"kind":"PodDisruptionBudget","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["pdb"],"storageVersionHash":"6BGBu0kpHtk="},{"name":"poddisruptionbudgets/status","singularName":"","namespaced":true,"kind":"PodDisruptionBudget","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - bd0682ba-9315-4fce-ac52-39642126a5b8
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/rbac.authorization.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"rbac.authorization.k8s.io/v1","resources":[{"name":"clusterrolebindings","singularName":"","namespaced":false,"kind":"ClusterRoleBinding","verbs":["create","delete","deletecollection","get","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/storage.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"storage.k8s.io/v1","resources":[{"name":"csidrivers","singularName":"","namespaced":false,"kind":"CSIDriver","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storage[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/admissionregistration.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"admissionregistration.k8s.io/v1","resources":[{"name":"mutatingwebhookconfigurations","singularName":"","namespaced":false,"kind":"MutatingWebhookConfiguration","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"Sqi0GUgDaX0="},{"name":"validatingwebhookconfigurations","singularName":"","namespaced":false,"kind":"ValidatingWebhookConfiguration","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"B0wHjQmsGNk="}]}

        '
    headers:
      Audit-Id:
      - 77cb6994-2e10-4e78-83d5-0bf25251cf92
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apiextensions.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apiextensions.k8s.io/v1","resources":[{"name":"customresourcedefinitions","singularName":"","namespaced":false,"kind":"CustomResourceDefinition","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["crd","crds"],"categories":["api-extensions"],"storageVersionHash":"jfWCUB31mvA="},{"name":"customresourcedefinitions/status","singularName":"","namespaced":false,"kind":"CustomResourceDefinition","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 2c72b15f-ed7c-4c67-a2f3-1e8e816347a9
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/scheduling.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"scheduling.k8s.io/v1","resources":[{"name":"priorityclasses","singularName":"","namespaced":false,"kind":"PriorityClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["pc"],"storageVersionHash":"1QwjyaZjj3Y="}]}

        '
    headers:
      Audit-Id:
      - 24e1b272-9100-4dab-9345-c285d9e56538
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/coordination.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"coordination.k8s.io/v1","resources":[{"name":"leases","singularName":"","namespaced":true,"kind":"Lease","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"gqkMMb/YqFM="}]}

        '
    headers:
      Audit-Id:
      - 32e56260-3cdf-4cf3-aa21-fd493c8fb62e
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/node.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"node.k8s.io/v1","resources":[{"name":"runtimeclasses","singularName":"","namespaced":false,"kind":"RuntimeClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"WQTu1GL3T2Q="}]}

        '
    headers:
      Audit-Id:
      - b17989b5-375a-4e8a-a25b-737f2b6051d5
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/discovery.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"discovery.k8s.io/v1","resources":[{"name":"endpointslices","singularName":"","namespaced":true,"kind":"EndpointSlice","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"Nx3SIv6I0mE="}]}

        '
    headers:
      Audit-Id:
      - 3c8afde2-5e56-4105-8cc5-eb598e32b77f
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apps.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apps.openshift.io/v1","resources":[{"name":"deploymentconfigs","singularName":"","namespaced":true,"kind":"DeploymentConfig","verbs":["create","delete","deletecollection","get","list","patch","update[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authorization.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authorization.openshift.io/v1","resources":[{"name":"clusterrolebindings","singularName":"","namespaced":false,"kind":"ClusterRoleBinding","verbs":["create","delete","get","list","patch","up[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/build.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"build.openshift.io/v1","resources":[{"name":"buildconfigs","singularName":"","namespaced":true,"kind":"BuildConfig","verbs":["create","delete","deletecollection","get","list","patch","update","watch[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/image.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"image.openshift.io/v1","resources":[{"name":"images","singularName":"","namespaced":false,"kind":"Image","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storage[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/oauth.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"oauth.openshift.io/v1","resources":[{"name":"oauthaccesstokens","singularName":"","namespaced":false,"kind":"OAuthAccessToken","verbs":["create","delete","deletecollection","get","list","patch","upd[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/project.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"project.openshift.io/v1","resources":[{"name":"projectrequests","singularName":"","namespaced":false,"kind":"ProjectRequest","verbs":["create","list"]},{"name":"projects","singularName":"","namespaced":false,"kind":"Project","verbs":["create","delete","get","list","patch","update","watch"]}]}

        '
    headers:
      Audit-Id:
      - f36724f4-40a1-40af-b49f-3dc3cbdca8fe
      - f36724f4-40a1-40af-b49f-3dc3cbdca8fe
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/quota.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"quota.openshift.io/v1","resources":[{"name":"appliedclusterresourcequotas","singularName":"","namespaced":true,"kind":"AppliedClusterResourceQuota","verbs":["get","list"]},{"name":"clusterresourcequotas","singularName":"","namespaced":false,"kind":"ClusterResourceQuota","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["clusterquota"]},{"name":"clusterresourcequotas/status","singularName":"","namespaced":false,"kind":"ClusterResourceQuota","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - aede613a-02f3-4995-a474-cf7b0ad9d5d0
      - aede613a-02f3-4995-a474-cf7b0ad9d5d0
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/route.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"route.openshift.io/v1","resources":[{"name":"routes","singularName":"","namespaced":true,"kind":"Route","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["all"],"storageVersionHash":"jo1F7GfnXH4="},{"name":"routes/status","singularName":"","namespaced":true,"kind":"Route","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - d445d285-fbb1-4eee-bcee-3c24fe8b5366
      - d445d285-fbb1-4eee-bcee-3c24fe8b5366
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/security.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"security.openshift.io/v1","resources":[{"name":"podsecuritypolicyreviews","singularName":"","namespaced":true,"kind":"PodSecurityPolicyReview","verbs":["create"]},{"name":"podsecuritypolicyselfsu[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/template.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"template.openshift.io/v1","resources":[{"name":"brokertemplateinstances","singularName":"","namespaced":false,"kind":"BrokerTemplateInstance","verbs":["create","delete","deletecollection","get","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/user.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"user.openshift.io/v1","resources":[{"name":"groups","singularName":"","namespaced":false,"kind":"Group","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVe[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/packages.operators.coreos.com/v1
  response:
    body:
[...]
