interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"24\",\n  \"gitVersion\": \"v1.24.6+5658434\",\n
        \ \"gitCommit\": \"eddac29feb4bb46b99fb570999324e582d761a66\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-11-09T10:31:39Z\",\n  \"goVersion\": \"go1.18.7\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      Audit-Id:
      - fa649c38-d735-4e24-a1d4-42f874c4a8c6
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f8a416f6-2ac0-4d1e-87c4-d00d2095eeb3
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - f2a7e076-58e9-4649-b759-da14a6245d04
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version/openshift
  response:
    body:
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"the
        server could not find the requested resource","reason":"NotFound","details":{},"code":404}

        '
    headers:
      Audit-Id:
      - ecc69e73-56c3-47f8-9fdb-ecce6f4b19f8
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f8a416f6-2ac0-4d1e-87c4-d00d2095eeb3
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - f2a7e076-58e9-4649-b759-da14a6245d04
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis
  response:
    body:
      string: '{"kind":"APIGroupList","apiVersion":"v1","groups":[{"name":"apiregistration.k8s.io","versions":[{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}},{"name":"apps","versions":[{"groupVersion":"apps/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apps/v1","version":"v1"}},{"name":"events.k8s.io","versions":[{"groupVersion":"events.k8s.io/v1","version":"v1"},{"groupVersion":"events.k8s.io/v1beta1","version":"v1beta1"}],"preferredVersion":{"groupVersion":"events.k8s.io/v1","version":"v1"}},{"name":"authentication.k8s.io","versions":[{"groupVersion":"authentication.k8s.io/v1",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"config.openshift.io/v1","resources":[{"name":"infrastructures","singularName":"infrastructure","namespaced":false,"kind":"Infrastructure","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"s/S0qwLEaK4="},{"name":"infrastructures/status","singularName":"","namespaced":false,"kind":"Infrastructure","verbs":["get","patch","update"]},{"name":"dnses","singularName":"dns","namespaced":false,"kind":"DNS","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"SAHetG08gBY="},{"name":"dnses/status","singularName":"","namespaced":false,"kind":"DNS","verbs":["get","patch","update"]},{"name":"images","singularName":"image","namespaced":false[...]
