interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"24\",\n  \"gitVersion\": \"v1.24.6+5658434\",\n
        \ \"gitCommit\": \"eddac29feb4bb46b99fb570999324e582d761a66\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2022-11-09T10:31:39Z\",\n  \"goVersion\": \"go1.18.7\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      Audit-Id:
      - cea87f97-756f-48f5-9c57-3ff504a4ac0e
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version/openshift
  response:
    body:
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"the
        server could not find the requested resource","reason":"NotFound","details":{},"code":404}

        '
    headers:
      Audit-Id:
      - 48c8ebb1-c659-4064-8e31-1fa359352dff
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis
  response:
    body:
      string: '{"kind":"APIGroupList","apiVersion":"v1","groups":[{"name":"apiregistration.k8s.io","versions":[{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}},{"name":"apps","versions":[{"groupVersion":"apps/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apps/v1","version":"v1"}},{"name":"events.k8s.io","versions":[{"groupVersion":"events.k8s.io/v1","version":"v1"},{"groupVersion":"events.k8s.io/v1beta1","version":"v1beta1"}],"preferredVersion":{"groupVersion":"events.k8s.io/v1","version":"v1"}},{"name":"authentication.k8s.io","versions":[{"groupVersion":"authentication.k8s.io/v1",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"config.openshift.io/v1","resources":[{"name":"schedulers","singularName":"scheduler","namespaced":false,"kind":"Scheduler","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"ptedUcY9aMg="},{"name":"schedulers/status","singularName":"","namespaced":false,"kind":"Scheduler","verbs":["get","patch","update"]},{"name":"featuregates","singularName":"featuregate","namespaced":false,"kind":"FeatureGate","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"HSu6crTvi5E="},{"name":"featuregates/status","singularName":"","namespaced":false,"kind":"FeatureGate","verbs":["get","patch","update"]},{"name":"nodes","singularName"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1
  response:
    body:
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","singularName":"","namespaced":true,"kind":"Binding","verbs":["create"]},{"name":"componentstatuses","singularName":"","namespaced":false,"kind":"ComponentStatus","verbs":["get","list"],"shortNames":["cs"]},{"name":"configmaps","singularName":"","namespaced":true,"kind":"ConfigMap","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cm"],"storageVersionHash":"qFsyl6wFWjQ="},{"name":"endpoints","singularName":"","namespaced":true,"kind":"Endpoints","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ep"],"storageVersionHash":"fWeeMqaN/OA="},{"name":"events","singularName":"","namespaced":true,"kin[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apiregistration.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apiregistration.k8s.io/v1","resources":[{"name":"apiservices","singularName":"","namespaced":false,"kind":"APIService","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"InPBPD7+PqM="},{"name":"apiservices/status","singularName":"","namespaced":false,"kind":"APIService","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - e2bdf0dc-7c24-4584-a9c7-1b38be784b20
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apps/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apps/v1","resources":[{"name":"controllerrevisions","singularName":"","namespaced":true,"kind":"ControllerRevision","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"85nkx63pcBU="},{"name":"daemonsets","singularName":"","namespaced":true,"kind":"DaemonSet","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ds"],"categories":["all"],"storageVersionHash":"dd7pWHUlMKQ="},{"name":"daemonsets/status","singularName":"","namespaced":true,"kind":"DaemonSet","verbs":["get","patch","update"]},{"name":"deployments","singularName":"","namespaced":true,"kind":"Deployment","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["deploy"],"categories":["all"],"storageVersionHash":"8aSe+NMegvE="},{"name":"deployments/scale","singularName":"","namespaced":true,"group":"autoscaling","version":"v1","kind":"Scale","verbs":["get","patch","update"]},{"name":"deployments/status","singularName":"","namespaced":true,"kind":"Deployment","verbs":["get","patch","update"]},{"name":"replicasets","singularName":"","namespaced":true,"kind":"ReplicaSet","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["rs"],"categories":["all"],"storageVersionHash":"P1RzHs8/mWQ="},{"name":"replicasets/scale","singularName":"","namespaced":tru[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/events.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"events.k8s.io/v1","resources":[{"name":"events","singularName":"","namespaced":true,"kind":"Event","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ev"],"storageVersionHash":"r2yiGXH7wu8="}]}

        '
    headers:
      Audit-Id:
      - a539e699-ce91-41ca-9ca6-71440066fab3
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authentication.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authentication.k8s.io/v1","resources":[{"name":"tokenreviews","singularName":"","namespaced":false,"kind":"TokenReview","verbs":["create"]}]}

        '
    headers:
      Audit-Id:
      - 2b4255d8-499c-49c8-9995-4348b6460b3d
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authorization.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authorization.k8s.io/v1","resources":[{"name":"localsubjectaccessreviews","singularName":"","namespaced":true,"kind":"LocalSubjectAccessReview","verbs":["create"]},{"name":"selfsubjectaccessreviews","singularName":"","namespaced":false,"kind":"SelfSubjectAccessReview","verbs":["create"]},{"name":"selfsubjectrulesreviews","singularName":"","namespaced":false,"kind":"SelfSubjectRulesReview","verbs":["create"]},{"name":"subjectaccessreviews","singularName":"","namespaced":false,"kind":"SubjectAccessReview","verbs":["create"]}]}

        '
    headers:
      Audit-Id:
      - 6cdb5dd7-9437-427d-a6c8-503b80e00115
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/autoscaling/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"autoscaling/v1","resources":[{"name":"horizontalpodautoscalers","singularName":"","namespaced":true,"kind":"HorizontalPodAutoscaler","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["hpa"],"categories":["all"],"storageVersionHash":"oQlkt7f5j/A="},{"name":"horizontalpodautoscalers/status","singularName":"","namespaced":true,"kind":"HorizontalPodAutoscaler","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - f0348fdf-f342-4a84-ba04-fc7446eace0a
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/batch/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"batch/v1","resources":[{"name":"cronjobs","singularName":"","namespaced":true,"kind":"CronJob","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cj"],"categories":["all"],"storageVersionHash":"sd5LIXh4Fjs="},{"name":"cronjobs/status","singularName":"","namespaced":true,"kind":"CronJob","verbs":["get","patch","update"]},{"name":"jobs","singularName":"","namespaced":true,"kind":"Job","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["all"],"storageVersionHash":"mudhfqk/qZY="},{"name":"jobs/status","singularName":"","namespaced":true,"kind":"Job","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 782a30bd-10eb-4df5-b0ad-0adef276f71b
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/certificates.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"certificates.k8s.io/v1","resources":[{"name":"certificatesigningrequests","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["csr"],"storageVersionHash":"95fRKMXA+00="},{"name":"certificatesigningrequests/approval","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["get","patch","update"]},{"name":"certificatesigningrequests/status","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 78911b5d-caed-4c5c-9822-3cdb63af3986
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/networking.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"networking.k8s.io/v1","resources":[{"name":"ingressclasses","singularName":"","namespaced":false,"kind":"IngressClass","verbs":["create","delete","deletecollection","get","list","patch","update","wat[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/policy/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"policy/v1","resources":[{"name":"poddisruptionbudgets","singularName":"","namespaced":true,"kind":"PodDisruptionBudget","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["pdb"],"storageVersionHash":"6BGBu0kpHtk="},{"name":"poddisruptionbudgets/status","singularName":"","namespaced":true,"kind":"PodDisruptionBudget","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 13e77dcd-8a1f-46d4-af0b-5919bed986e0
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/rbac.authorization.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"rbac.authorization.k8s.io/v1","resources":[{"name":"clusterrolebindings","singularName":"","namespaced":false,"kind":"ClusterRoleBinding","verbs":["create","delete","deletecollection","get","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/storage.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"storage.k8s.io/v1","resources":[{"name":"csidrivers","singularName":"","namespaced":false,"kind":"CSIDriver","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storage[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/admissionregistration.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"admissionregistration.k8s.io/v1","resources":[{"name":"mutatingwebhookconfigurations","singularName":"","namespaced":false,"kind":"MutatingWebhookConfiguration","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"Sqi0GUgDaX0="},{"name":"validatingwebhookconfigurations","singularName":"","namespaced":false,"kind":"ValidatingWebhookConfiguration","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"B0wHjQmsGNk="}]}

        '
    headers:
      Audit-Id:
      - ced27adf-71ba-4f5a-9eeb-a3042873f4e8
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apiextensions.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apiextensions.k8s.io/v1","resources":[{"name":"customresourcedefinitions","singularName":"","namespaced":false,"kind":"CustomResourceDefinition","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["crd","crds"],"categories":["api-extensions"],"storageVersionHash":"jfWCUB31mvA="},{"name":"customresourcedefinitions/status","singularName":"","namespaced":false,"kind":"CustomResourceDefinition","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 5b904b58-02ef-46fa-82ed-6c65589c068a
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/scheduling.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"scheduling.k8s.io/v1","resources":[{"name":"priorityclasses","singularName":"","namespaced":false,"kind":"PriorityClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["pc"],"storageVersionHash":"1QwjyaZjj3Y="}]}

        '
    headers:
      Audit-Id:
      - 0d4e7a83-0d8a-472c-9c08-0f696b377c9a
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/coordination.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"coordination.k8s.io/v1","resources":[{"name":"leases","singularName":"","namespaced":true,"kind":"Lease","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"gqkMMb/YqFM="}]}

        '
    headers:
      Audit-Id:
      - f982787e-cf6a-4a30-a77a-dc06e0c302bf
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/node.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"node.k8s.io/v1","resources":[{"name":"runtimeclasses","singularName":"","namespaced":false,"kind":"RuntimeClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"WQTu1GL3T2Q="}]}

        '
    headers:
      Audit-Id:
      - 7520900d-7763-4c27-90ce-5b8d74f5b73c
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/discovery.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"discovery.k8s.io/v1","resources":[{"name":"endpointslices","singularName":"","namespaced":true,"kind":"EndpointSlice","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"Nx3SIv6I0mE="}]}

        '
    headers:
      Audit-Id:
      - 14063968-f04d-463e-971c-142478a74715
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apps.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apps.openshift.io/v1","resources":[{"name":"deploymentconfigs","singularName":"","namespaced":true,"kind":"DeploymentConfig","verbs":["create","delete","deletecollection","get","list","patch","update[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authorization.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authorization.openshift.io/v1","resources":[{"name":"clusterrolebindings","singularName":"","namespaced":false,"kind":"ClusterRoleBinding","verbs":["create","delete","get","list","patch","up[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/build.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"build.openshift.io/v1","resources":[{"name":"buildconfigs","singularName":"","namespaced":true,"kind":"BuildConfig","verbs":["create","delete","deletecollection","get","list","patch","update","watch[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/image.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"image.openshift.io/v1","resources":[{"name":"images","singularName":"","namespaced":false,"kind":"Image","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storage[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/oauth.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"oauth.openshift.io/v1","resources":[{"name":"oauthaccesstokens","singularName":"","namespaced":false,"kind":"OAuthAccessToken","verbs":["create","delete","deletecollection","get","list","patch","upd[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/project.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"project.openshift.io/v1","resources":[{"name":"projectrequests","singularName":"","namespaced":false,"kind":"ProjectRequest","verbs":["create","list"]},{"name":"projects","singularName":"","namespaced":false,"kind":"Project","verbs":["create","delete","get","list","patch","update","watch"]}]}

        '
    headers:
      Audit-Id:
      - dd586072-c4fb-4112-bd83-522c71a28169
      - dd586072-c4fb-4112-bd83-522c71a28169
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/quota.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"quota.openshift.io/v1","resources":[{"name":"appliedclusterresourcequotas","singularName":"","namespaced":true,"kind":"AppliedClusterResourceQuota","verbs":["get","list"]},{"name":"clusterresourcequotas","singularName":"","namespaced":false,"kind":"ClusterResourceQuota","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["clusterquota"]},{"name":"clusterresourcequotas/status","singularName":"","namespaced":false,"kind":"ClusterResourceQuota","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 7c66b4d1-6fdd-47c6-9942-a0ffe7091ab6
      - 7c66b4d1-6fdd-47c6-9942-a0ffe7091ab6
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/route.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"route.openshift.io/v1","resources":[{"name":"routes","singularName":"","namespaced":true,"kind":"Route","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["all"],"storageVersionHash":"jo1F7GfnXH4="},{"name":"routes/status","singularName":"","namespaced":true,"kind":"Route","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - c89fb10f-f8a8-4f02-891b-8693b1929e62
      - c89fb10f-f8a8-4f02-891b-8693b1929e62
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - dc5f54d8-61c7-4078-be42-b2ae14cafe79
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ee8439fa-db58-4921-a40d-640133815212
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/security.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"security.openshift.io/v1","resources":[{"name":"podsecuritypolicyreviews","singularName":"","namespaced":true,"kind":"PodSecurityPolicyReview","verbs":["create"]},{"name":"podsecuritypolicyselfsu[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/template.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"template.openshift.io/v1","resources":[{"name":"brokertemplateinstances","singularName":"","namespaced":false,"kind":"BrokerTemplateInstance","verbs":["create","delete","deletecollection","get","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/user.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"user.openshift.io/v1","resources":[{"name":"groups","singularName":"","namespaced":false,"kind":"Group","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVe[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/packages.operators.coreos.com/v1
  response:
    body:
[...]
