interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"25\",\n  \"gitVersion\": \"v1.25.7+eab9cc9\",\n
        \ \"gitCommit\": \"d53489b7cc6293d77f77f2588bc4d885c7485e89\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2023-03-13T21:23:28Z\",\n  \"goVersion\": \"go1.19.4\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      Audit-Id:
      - 759785f7-50c0-48f7-b1c8-873e5bc1babe
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://prometheus-k8s-openshift-monitoring.apps.fake.ocp.host/api/v1/query?query=count+by%28instance%29+%28max+by%28node%2C+instance%29+%28cluster%3Acpu_core_node_labels%29%29
  response:
    body:
      string: '{"status":"success","data":{"resultType":"vector","result":[{"metric":{"instance":"master-0.qpcluster3.lab.upshift.rdu2.redhat.com"},"value":[1692283862.783,"1"]},{"metric":{"instance":"master-1.qpcluster3.lab.upshift.rdu2.redhat.com"},"value":[1692283862.783,"1"]},{"metric":{"instance":"master-2.qpcluster3.lab.upshift.rdu2.redhat.com"},"value":[1692283862.783,"1"]},{"metric":{"instance":"worker-0.qpcluster3.lab.upshift.rdu2.redhat.com"},"value":[1692283862.783,"1"]},{"metric":{"instance":"worker-1.qpcluster3.lab.upshift.rdu2.redhat.com"},"value":[1692283862.783,"1"]},{"metric":{"instance":"worker-2.qpcluster3.lab.upshift.rdu2.redhat.com"},"value":[1692283862.783,"1"]}]}}'
    headers:
      content-type:
      - application/json
      gap-auth:
      - kube:admin@cluster.local
      gap-upstream-address:
      - localhost:9090
    status:
      code: 200
      message: OK
version: 1
