interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/namespaces
  response:
    body:
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"resourceVersion":"18544418"},"items":[{"metadata":{"name":"11","uid":"aaaf223f-6625-4a7f-8166-c61ad2621063","resourceVersion":"14212816","creationTimestamp":"2023-01-16T12:52:12Z","labels":{"kubernetes.io/metadata.name":"11","olm.operatorgroup.uid/e2967b63-4440-4af6-adef-9fee130b0d00":"","pod-security.kubernetes.io/audit":"restricted","pod-security.kubernetes.io/audit-version":"v1.24","pod-security.kubernetes.io/warn":"restricted","pod-security.kubernetes.io/warn-version":"v1.24"},"annotations":{"openshift.io/description":"","openshift.io/display-name":"","openshift.io/requester":"system:admin","openshift.io/sa.scc.mcs":"s0:c29,c14","openshift.io/sa.scc.supplemental-groups":"1000840000/10000","openshift.io/sa.scc.uid-range":"1000840000/10000"},"managedFields":[{"manager":"Go-http-client","operation":"Update","apiVersion":"v1","time":"2023-01-16T12:52:12Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:openshift.io/description":{},"f:openshift.io/display-name":{},"f:openshift.io/requester":{}},"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}},{"manager":"cluster-policy-controller","operation":"Update","apiVersion":"v1","time":"2023-01-16T12:52:12Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:openshift.io/sa.scc.mcs":{},"f:openshift.io/sa.scc.supplemental-groups":{},"f:openshift.io/sa.scc.uid-range":{}},"f:labels":{"f:pod-security.kubernetes.io/audit":{},"f:pod-security.kubernetes.io/audit-version":{},"f:pod-security.kubernetes.io/warn":{},"f:pod-security.kubernetes.io/warn-version":{}}}}},{"manager":"openshift-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-01-16T12:52:12Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:finalizers":{}}},"subresource":"finalize"},{"manager":"olm","operation":"Update","apiVersion":"v1","time":"2023-01-20T11:56:07Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:olm.operatorgroup.uid/e2967b63-4440-4af6-adef-9fee130b0d00":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"aap","uid":"8581b225-b204-4415-a17a-511ccb18df13","resourceVersion":"7687079","creationTimestamp":"2023-01-20T10:58:24Z","labels":{"kubernetes.io/metadata.name":"aap","pod-security.kubernetes.io/audit":"restricted","pod-security.kubernetes.io/audit-version":"v1.24","pod-security.kubernetes.io/warn":"restricted","pod-security.kubernetes.io/warn-version":"v1.24"},"annotations":{"openshift.io/sa.scc.mcs":"s0:c32,c9","openshift.io/sa.scc.supplemental-groups":"10010100[...]
