interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/namespaces
  response:
    body:
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"resourceVersion":"1470373"},"items":[{"metadata":{"name":"default","uid":"8dc6efc6-f10c-46d3-839b-85833b4940b9","resourceVersion":"488","creationTimestamp":"2023-01-13T18:15:36Z","labels":{"kubernetes.io/metadata.name":"default"},"annotations":{"openshift.io/sa.scc.mcs":"s0:c6,c5","openshift.io/sa.scc.supplemental-groups":"1000040000/10000","openshift.io/sa.scc.uid-range":"1000040000/10000"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2023-01-13T18:15:36Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}},{"manager":"cluster-policy-controller","operation":"Update","apiVersion":"v1","time":"2023-01-13T18:16:02Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:openshift.io/sa.scc.mcs":{},"f:openshift.io/sa.scc.supplemental-groups":{},"f:openshift.io/sa.scc.uid-range":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-node-lease","uid":"7ff15405-ce5e-4f03-a25a-2141f7cb667d","resourceVersion":"477","creationTimestamp":"2023-01-13T18:15:25Z","labels":{"kubernetes.io/metadata.name":"kube-node-lease"},"annotations":{"openshift.io/sa.scc.mcs":"s0:c3,c2","openshift.io/sa.scc.supplemental-groups":"1000010000/10000","openshift.io/sa.scc.uid-range":"1000010000/10000"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2023-01-13T18:15:25Z","[...]
