interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/namespaces
  response:
    body:
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"resourceVersion":"176471"},"items":[{"metadata":{"name":"default","uid":"6d9313e4-60e5-40d7-b81e-73459bbbab30","resourceVersion":"482","creationTimestamp":"2023-03-28T06:46:54Z","labels":{"kubernetes.io/metadata.name":"default"},"annotations":{"openshift.io/sa.scc.mcs":"s0:c6,c0","openshift.io/sa.scc.supplemental-groups":"1000030000/10000","openshift.io/sa.scc.uid-range":"1000030000/10000"},"managedFields":[{"manager":"kube-apiserver","operation":"Update","apiVersion":"v1","time":"2023-03-28T06:46:54Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:kubernetes.io/metadata.name":{}}}}},{"manager":"cluster-policy-controller","operation":"Update","apiVersion":"v1","time":"2023-03-28T06:47:20Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:openshift.io/sa.scc.mcs":{},"f:openshift.io/sa.scc.supplemental-groups":{},"f:openshift.io/sa.scc.uid-range":{}}}}}]},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"hostpath-provisioner","uid":"ef6f37f8-e32b-4c36-b251-e4f07982ee1a","resourceVersion":"23070","creationTimestamp":"2023-03-29T07:19:16Z","labels":{"kubernetes.io/metadata.name":"hostpath-provisioner","pod-security.kubernetes.io/audit":"privileged","pod-security.kubernetes.io/audit-version":"v1.24","pod-security.kubernetes.io/warn":"privileged","pod-security.kubernetes.io/warn-version":"v1.24"},"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"ap[...]
