interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"176469"},"items":[{"metadata":{"name":"crc-8tnb7-master-0","uid":"08e1a830-90d1-4d98-b397-9a6a80f07b6a","resourceVersion":"175831","creationTimestamp":"2023-03-28T06:49:00Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"crc-8tnb7-master-0","kubernetes.io/os":"linux","node-role.kubernetes.io/control-plane":"","node-role.kubernetes.io/master":"","node-role.kubernetes.io/worker":"","node.openshift.io/os_id":"rhcos","topology.hostpath.csi/node":"crc-8tnb7-master-0"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"kubevirt.io.hostpath-provisioner\":\"crc-8tnb7-master-0\"}","machine.openshift.io/machine":"openshift-machine-api/crc-8tnb7-master-0","machineconfiguration.openshift.io/controlPlaneTopology":"SingleReplica","machineconfiguration.openshift.io/currentConfig":"rendered-master-78b2543bfb422e8970d8349302e035d6","machineconfiguration.openshift.io/desiredConfig":"rendered-master-78b2543bfb422e8970d8349302e035d6","machineconfiguration.openshift.io/desiredDrain":"uncordon-rendered-master-78b2543bfb422e8970d8349302e035d6","machineconfiguration.openshift.io/lastAppliedDrain":"uncordon-rendered-master-78b2543bfb422e8970d8349302e035d6","machineconfiguration.openshift.io/reason":"","machineconfiguration.openshift.io/ssh":"accessed","machineconfiguration.openshift.io/state":"Done","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2023-03-28T06:49:00Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{},"f:node-role.kubernetes.io/control-plane":{},"f:node-role.kubernetes.io/master":{},"f:node.openshift.io/os_id":{}}}}},{"manager":"nodelink-controller","operation":"Update","apiVersion":"v1","time":"2023-03-28T06:51:50Z","fieldsType":"Field[...]
