interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"526897"},"items":[{"metadata":{"name":"master-0.sharedocp4upi411ovn.lab.upshift.rdu2.redhat.com","uid":"ad49629e-fd70-446e-af64-1177a9f31b0b","resourceVersion":"525916","creationTimestamp":"2023-01-12T17:28:47Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"master-0.sharedocp4upi411ovn.lab.upshift.rdu2.redhat.com","kubernetes.io/os":"linux","node-role.kubernetes.io/master":"","node.openshift.io/os_id":"rhcos"},"annotations":{"k8s.ovn.org/host-addresses":"[\"10.0.93.147\",\"2620:52:0:58:452:dd23:651d:6d62\"]","k8s.ovn.org/l3-gateway-config":"{\"default\":{\"mode\":\"shared\",\"interface-id\":\"br-ex_master-0.sharedocp4upi411ovn.lab.upshift.rdu2.redhat.com\",\"mac-address\":\"fa:16:3e:c9:d6:a3\",\"ip-addresses\":[\"10.0.93.147/21\"],\"ip-address\":\"10.0.93.147/21\",\"next-hops\":[\"10.0.95.254\"],\"next-hop\":\"10.0.95.254\",\"node-port-enable\":\"true\",\"vlan-id\":\"0\"}}","k8s.ovn.org/node-chassis-id":"d67d9afb-8eb9-41ed-9468-e71df91cbd0f","k8s.ovn.org/node-gateway-router-lrp-ifaddr":"{\"ipv4\":\"100.64.0.4/16\"}","k8s.ovn.org/node-mgmt-port-mac-address":"5e:ef:08:9a:07:03","k8s.ovn.org/node-primary-ifaddr":"{\"ipv4\":\"10.0.93.147/21\"}","k8s.ovn.org/node-subnets":"{\"default\":\"10.129.0.0/23\"}","machineconfiguration.openshift.io/controlPlaneTopology":"HighlyAvailable","machineconfiguration.openshift.io/currentConfig":"rendered-master-2bc57f87a1c50bb7b0967f0b618a7f4d","machineconfiguration.openshift.io/desiredConfig":"rendered-master-2bc57f87a1c50bb7b0967f0b618a7f4d","machineconfiguration.openshift.io/desiredDrain":"uncordon-rendered-master-2bc57f87a1c50bb7b0967f0b618a7f4d","machineconfiguration.openshift.io/lastAppliedDrain":"uncordon-rendered-master-2bc57f87a1c50bb7b0967f0b618a7f4d","machineconfiguration.openshift.io/reason":"","machineconfiguration.openshift.io/state":"Done","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2023-01-12T17:28:47Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{},"f:node-role.kubernetes.io/master":{},"f:node.openshift.io/os_id":{}}}}},{"manager":"master-0.sharedocp4upi411ovn.lab.upshift.rdu2.redhat.com","operation":"Update","apiVersion":"v1","time":"2023-01-12T17:32:23Z","fieldsType":"FieldsV1","fi[...]
