interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/pods
  response:
    body:
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"resourceVersion":"18544449"},"items":[{"metadata":{"name":"example-1-build","namespace":"aap","uid":"68bad064-e76d-46bd-98dd-1729fb771dd6","resourceVersion":"14104329","creationTimestamp":"2023-01-23T01:22:06Z","labels":{"openshift.io/build.name":"example-1"},"annotations":{"k8s.ovn.org/pod-networks":"{\"default\":{\"ip_addresses\":[\"10.129.2.26/23\"],\"mac_address\":\"0a:58:0a:81:02:1a\",\"gateway_ips\":[\"10.129.2.1\"],\"ip_address\":\"10.129.2.26/23\",\"gateway_ip\":\"10.129.2.1\"}}","k8s.v1.cni.cncf.io/network-status":"[{\n    \"name\":
        \"ovn-kubernetes\",\n    \"interface\": \"eth0\",\n    \"ips\": [\n        \"10.129.2.26\"\n    ],\n    \"mac\":
        \"0a:58:0a:81:02:1a\",\n    \"default\": true,\n    \"dns\": {}\n}]","k8s.v1.cni.cncf.io/networks-status":"[{\n    \"name\":
        \"ovn-kubernetes\",\n    \"interface\": \"eth0\",\n    \"ips\": [\n        \"10.129.2.26\"\n    ],\n    \"mac\":
        \"0a:58:0a:81:02:1a\",\n    \"default\": true,\n    \"dns\": {}\n}]","openshift.io/build.name":"example-1","openshift.io/scc":"privileged"},"ownerReferences":[{"apiVersion":"build.openshift.io/v1","kind":"Build","name":"example-1","uid":"fff3f974-f9ef-4d51-ac1f-35297945c4d1","controller":true}],"managedFields":[{"manager":"master-0.sharedocp4upi411ovn.lab.upshift.rdu2.redhat.com","operation":"Update","apiVersion":"v1","time":"2023-01-23T01:22:06Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:k8s.ovn.org/pod-networks":{}}}}},{"manager":"openshift-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-01-23T01:22:06Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:openshift.io/build.name":{}},"f:labels":{".":{},"f:openshift.io/build.name":{}},"f:ownerReferences":{".":{},"k:{\"uid\":\"fff3f974-f9ef-4d51-ac1f-35297945c4d1\"}":{}}},"f:spec":{"f:activeDeadlineSeconds":{},"f:containers":{"k:{\"name\":\"sti-bu[...]
