interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/pods
  response:
    body:
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"resourceVersion":"1471757"},"items":[{"metadata":{"name":"openshift-apiserver-operator-6ff68c7b95-67bn5","generateName":"openshift-apiserver-operator-6ff68c7b95-","namespace":"openshift-apiserver-operator","uid":"199a7805-3221-49eb-b3d3-5eef61f67f25","resourceVersion":"8811","creationTimestamp":"2023-01-13T18:16:50Z","labels":{"app":"openshift-apiserver-operator","pod-template-hash":"6ff68c7b95"},"annotations":{"k8s.v1.cni.cncf.io/network-status":"[{\n    \"name\":
        \"openshift-sdn\",\n    \"interface\": \"eth0\",\n    \"ips\": [\n        \"10.128.0.17\"\n    ],\n    \"default\":
        true,\n    \"dns\": {}\n}]","k8s.v1.cni.cncf.io/networks-status":"[{\n    \"name\":
        \"openshift-sdn\",\n    \"interface\": \"eth0\",\n    \"ips\": [\n        \"10.128.0.17\"\n    ],\n    \"default\":
        true,\n    \"dns\": {}\n}]","openshift.io/scc":"nonroot-v2","seccomp.security.alpha.kubernetes.io/pod":"runtime/default"},"ownerReferences":[{"apiVersion":"apps/v1","kind":"ReplicaSet","name":"openshift-apiserver-operator-6ff68c7b95","uid":"a525d513-4b50-42b1-a2bf-decc4623f7bd","controller":true,"blockOwnerDeletion":true}],"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2023-01-13T18:16:50Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:target.workload.openshift.io/management":{}},"f:generateName":{},"f:labels":{".":{},"f:app":{},"f:pod-template-hash":{}},"f:ownerReferences":{".":{},"k:{\"uid\":\"a525d513-4b50-42b1-a2bf-decc4623f7bd\"}":{}}},"f:spec":{"f:containers":{"k:{\"name\":\"openshift-apiserver-operator\"}":{".":{},"f:args":{},"f:command":{},"f:env":{".":{},"k:{\"name\":\"IMAGE\"}":{".":{},"f:name":{},"f:value":{}},"k:{\"name\":\"KUBE_APISERVER_OPERATOR_IMAGE\"}":{".":{},"f:name":{},"f:value":{}},"k:{\"name\":\"OPERAND_IMAGE_VERSION\"}":{".":{},"f:name":{},"f:value":{}},"k:{\"name\":\"OPERATOR_IMAGE\"}":{".":{},"f:name":{},"f:value":{}},"k:{\"name\":\"OPERATOR_IMAGE_VERSION\"}":{".":{},"f:name":{},"f:value":{}}},"f:image":{},"f:imagePullPolicy":{},"f:name":{},"f:ports":{".":{},"k:{\"containerPort\":8443,\"protocol\":\"TCP\"}":{".":{},"f:containerPort":{},"f:name":{},"f:protocol":{}}},"f:resources":{".":{},"f:requests":{".":{},"f:cpu":{},"f:memory":{}}},"f:securityContext":{".":{},"f:allowPrivilegeEscalation":{},"f:capabilities":{".":{},"f:drop":{}}},"f:terminationMessagePath":{},"f:terminationMessagePolicy":{},"f:volumeMounts":{".":{},"k:{\"mountPath\":\"/var/run/configmaps/config\"}":{".":{},"f:mountPath":{},"f:name":{}},"k:{\"mountPath\":\"/var/run/secrets/serving-cert\"}":{".":{},"f:mountPath":{},"f:name":{}}}}},"f:dnsPolicy":{},"f:enableServiceLinks":{},"f:nodeSelector":{},"f:priorityClassName":{},"f:restartPolicy":{},"f:schedulerName":{},"f:securityContext":{".":{},"f:runAsNonRoot":{},"f:runAsUser":{},"f:seccompProfile":{".":{},"f:type":{}}},"f:serviceAccount":{},"f:serviceAccountName":{},"f:terminationGracePeriodSeconds":{},"f:tolerations":{},"f:volumes":{".":{},"k:{\"name\":\"config\"}":{".":{},"f:configMap":{".":{},"f:defaultMode":{},"f:name":{}},"f:name":{}},"k:{\"name\":\"serving-cert\"}":{".":{},"f:name":{},"f:secret":{".":{},"f:defaultMode":{},"f:optional":{},"f:secretName":{}}}}}}},{"manager":"kube-scheduler","operation":"Update","apiVersion":"v1","time":"2023-01-13T18:16:50Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:conditions":{".":{},"k:{\"type\":\"PodScheduled\"}":{".":{},"f:lastProbeTime":{},"f:lastTransitionTime":{},"f:message":{},"f:reason":{},"f:status":{},"f:type":{}}}}},"subresource":"status"},{"manager":"multus","operation":"Update","apiVersion":"v1","time":"2023-01-13T18:25:31Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:k8s.v1.cni.cncf.io/network-status":{},"f:k8s.v1.cni.cncf.io/networks-status":{}}}},"subresource":"status"},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2023-01-13T18:27:11Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:conditions":{"k:{\"type\":\"ContainersReady\"}":{".":{},"f:lastProbeTime":{},"f:lastTransitionTime":{},"f:status":{},"f:type":{}},"k:{\"type\":\"Initialized\"}":{".":{},"f:lastProbeTime":{},"f:lastTransitionTime":{},"f:status":{},"f:type":{}},"k:{\"type\":\"Ready\"}":{".":{},"f:lastProbeTime":{},"f:lastTransitionTime":{},"f:status":{},"f:type":{}}},"f:containerStatuses":{},"f:hostIP":{},"f:phase":{},"f:podIP":{},"f:podIPs":{".":{},"k:{\"ip\":\"10.128.0.17\"}":{".":{},"f:ip":{}}},"f:startTime":{}}},"subresource":"status"}]},"spec":{"volumes":[{"name":"serving-cert","secret":{"secretName":"openshift-apiserver-operator-serving-cert","defaultMode":420,"optional":true}},{"name":"config","configMap":{"name":"openshift-apiserver-operator-config","defaultMode":420}},{"name":"kube-api-access-kljr7","projected":{"sources":[{"serviceAccountToken":{"expirationSeconds":3607,"path":"token"}},{"configMap":{"name":"kube-root-ca.crt","items":[{"key":"ca.crt","path":"ca.crt"}]}},{"downwardAPI":{"items":[{"path":"namespace","fieldRef":{"apiVersion":"v1","fieldPath":"metadata.namespace"}}]}},{"configMap":{"name":"openshift-service-ca.crt","items":[{"key":"service-ca.crt","path":"service-ca.crt"}]}}],"defaultMode":420}}],"containers":[{"name":"openshift-apiserver-operator","image":"quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:927fe63fbd902d8f73b90626069d64e94067e6538d6bf12296144b501ef3c81c","command":["cluster-openshift-apiserver-operator","operator"],"args":["--config=/var/run/configmaps/config/config.yaml"],"ports":[{"name":"metrics","containerPort":8443,"protocol":"TCP"}],"env":[{"name":"IMAGE","value":"quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:018af072c3b8dee64f65dd9faf3c22b3fb947261532c49843649cea67bab63a6"},{"name":"OPERATOR_IMAGE","value":"quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:927fe63fbd902d8f73b90626069d64e94067e6538d6bf12296144b501ef3c81c"},{"name":"OPERATOR_IMAGE_VERSION","value":"4.11.20"},{"name":"OPERAND_IMAGE_VERSION","value":"4.11.20"},{"name":"KUBE_APISERVER_OPERATOR_IMAGE","value":"quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:a34f47e8d4d2456ac75f70075848a51ed9a248deddb0c5fe7bd52d9508c5f424"}],"resources":{"requests":{"cpu":"10m","memory":"50Mi"}},"volumeMounts":[{"name":"config","mountPath":"/var/run/configmaps/config"},{"name":"serving-cert","mountPath":"/var/run/secrets/serving-cert"},{"name":"kube-api-access-kljr7","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"FallbackToLogsOnError","imagePullPolicy":"IfNotPresent","securityContext":{"capabilities":{"drop":["ALL"]},"allowPrivilegeEscalation":false}}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","nodeSelector":{"node-role.kubernetes.io/master":""},"serviceAccountName":"openshift-apiserver-operator","serviceAccount":"openshift-apiserver-operator","nodeName":"master-2.bciconeltest.lab.psi.pnq2.redhat.com","securityContext":{"seLinuxOptions":{"level":"s0:c15,c10"},"runAsUser":65534,"runAsNonRoot":true,"seccompProfile":{"type":"RuntimeDefault"}},"schedulerName":"default-scheduler","tolerations":[{"key":"node-role.kubernetes.io/master","operator":"Exists","effect":"NoSchedule"},{"key":"node.kubernetes.io/unreachable","operator":"Exists","effect":"NoExecute","tolerationSeconds":120},{"key":"node.kubernetes.io/not-ready","operator":"Exists","effect":"NoExecute","tolerationSeconds":120},{"key":"node.kubernetes.io/memory-pressure","operator":"Exists","effect":"NoSchedule"}],"priorityClassName":"system-cluster-critical","priority":2000000000,"enableServiceLinks":true,"preemptionPolicy":"PreemptLowerPriority"},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2023-01-13T18:25:23Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2023-01-13T18:27:11Z"},{"type":"ContainersReady","status":"True","lastProbeTime":null,"lastTransitionTime":"2023-01-13T18:27:11Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2023-01-13T18:25:23Z"}],"hostIP":"10.74.209.44","podIP":"10.128.0.17","podIPs":[{"ip":"10.128.0.17"}],"startTime":"2023-01-13T18:25:23Z","containerStatuses":[{"name":"openshift-apiserver-operator","state":{"running":{"startedAt":"2023-01-13T18:27:10Z"}},"lastState":{"terminated":{"exitCode":0,"reason":"Completed","startedAt":"2023-01-13T18:25:48Z","finishedAt":"2023-01-13T18:27:09Z","containerID":"cri-o://7a6faeff66755cf6bbc4322cc2f7234aa3f92376b6a03ce86ad33cc7e87357bf"}},"ready":true,"restartCount":1,"image":"quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:927fe63fbd902d8f73b90626069d64e94067e6538d6bf12296144b501ef3c81c","imageID":"quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:927fe63fbd902d8f73b90626069d64e94067e6538d6bf12296144b501ef3c81c","containerID":"cri-o://571fe5909c71a9d51be500e0351cba5d5d5c00aacc64b1687d163d7bb1a82cab","started":true}],"qosClass":"Burstable"}},{"metadata":{"name":"apiserver-5d8747c589-cjlln","generateName":"apiserver-5d8747c589-","namespace":"openshift-apiserver","uid":"03edbf85-2745-4fee-9247-5a68cfda19aa","resourceVersion":"31763","creationTimestamp":"2023-01-13T18:52:00Z","labels":{"apiserver":"true","app":"openshift-apiserver-a","openshift-apiserver-anti-affinity":"true","pod-template-hash":"5d8747c589","revision":"1"},"annotations":{"k8s.v1.cni.cncf.io/network-status":"[{\n    \"name\":
        \"openshift-sdn\",\n    \"interface\": \"eth0\",\n    \"ips\": [\n        \"10.130.0.64\"\n    ],\n    \"default\":
        true,\n    \"dns\": {}\n}]","k8s.v1.cni.cncf.io/networks-status":"[{\n    \"name\":
        \"openshift-sdn\",\n    \"interface\": \"eth0\",\n    \"ips\": [\n        \"10.130.0.64\"\n    ],\n    \"default\":
        true,\n    \"dns\": {}\n}]","openshift.io/scc":"node-exporter","operator.open[...]
