interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"25\",\n  \"gitVersion\": \"v1.25.7+eab9cc9\",\n
        \ \"gitCommit\": \"d53489b7cc6293d77f77f2588bc4d885c7485e89\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2023-03-13T21:23:28Z\",\n  \"goVersion\": \"go1.19.4\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      Audit-Id:
      - 759785f7-50c0-48f7-b1c8-873e5bc1babe
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/route.openshift.io/v1/routes
  response:
    body:
      string: '{"kind":"RouteList","apiVersion":"route.openshift.io/v1","metadata":{"resourceVersion":"34850812"},"items":[{"metadata":{"name":"discovery-server","namespace":"discovery-dev","uid":"08dd042c-5513-42e0-aa00-93211c0daf95","resourceVersion":"33929","creationTimestamp":"2023-07-18T19:49:01Z","labels":{"app":"discovery","app.kubernetes.io/component":"discovery","app.kubernetes.io/instance":"discovery","template":"discovery"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"},"managedFields":[{"manager":"oc","operation":"Update","apiVersion":"route.openshift.io/v1","time":"2023-07-18T19:49:01Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:openshift.io/generated-by":{}},"f:labels":{".":{},"f:app":{},"f:app.kubernetes.io/component":{},"f:app.kubernetes.io/instance":{},"f:template":{}}},"f:spec":{"f:host":{},"f:port":{".":{},"f:targetPort":{}},"f:tls":{".":{},"f:insecureEdgeTerminationPolicy":{},"f:termination":{}},"f:to":{"f:kind":{},"f:name":{},"f:weight":{}},"f:wildcardPolicy":{}}}},{"manager":"openshift-router","operation":"Update","apiVersion":"route.openshift.io/v1","time":"2023-07-18T19:49:01Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:ingress":{}}},"subresource":"status"}]},"spec":{"host":"discovery-server-discovery-dev.apps.qpcluster3.lab.upshift.rdu2.redhat.com","to":{"kind":"Service","name":"discovery-server","weight":100},"port":{"targetPort":8443},"tls":{"termination":"passthrough","insecureEdgeTerminationPolicy":"None"},"wildcardPolicy":"None"},"status":{"ingress":[{"host":"discovery-server-discovery-dev.apps.qpcluster3.lab.upshift.rdu2.redhat.com","routerName":"default","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2023-07-18T19:49:01Z"}],"wildcardPolicy":"None","routerCanonicalHostname":"router-default.apps.qpcluster3.lab.upshift.rdu2.redhat.com"}]}},{"metadata":{"name":"cluster-proxy-addon-anp","namespace":"multicluster-engine","uid":"c837c39e-254a-45db-878d-91c448c7e011","resourceVersion":"47154","creationTimestamp":"2023-07-18T20:25:16Z","labels":{"backplaneconfig.name":"engine","chart":"cluster-proxy-addon-2.1.0","component":"cluster-proxy-addon-anp-server"},"annotations":{"haproxy.router.openshift.io/balance":"roundrobin","haproxy.router.openshift.io/timeout":"60s"},"ownerReferences":[{"apiVersion":"multicluster.openshift.io/v1","kind":"MultiClusterEngine","name":"engine","uid":"01c18491-7442-43eb-b8aa-903715522ba2","controller":true,"blockOwnerDeletion":true}],"managedFields":[{"manager":"backplane-operator","operation":"Apply","apiVersion":"route.openshift.io/v1","time":"2023-07-18T20:25:16Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:haproxy.router.openshift.io/balance":{},"f:haproxy.router.openshift.io/timeout":{}},"f:labels":{"f:backplaneconfig.name":{},"f:chart":{},"f:component":{}},"f:ownerReferences":{"k:{\"uid\":\"01c18491-7442-43eb-b8aa-903715522ba2\"}":{}}},"f:spec":{"f:host":{},"f:port":{"f:targetPort":{}},[...]
