interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version
  response:
    body:
      string: "{\n  \"major\": \"1\",\n  \"minor\": \"25\",\n  \"gitVersion\": \"v1.25.7+eab9cc9\",\n
        \ \"gitCommit\": \"d53489b7cc6293d77f77f2588bc4d885c7485e89\",\n  \"gitTreeState\":
        \"clean\",\n  \"buildDate\": \"2023-03-13T21:23:28Z\",\n  \"goVersion\": \"go1.19.4\",\n
        \ \"compiler\": \"gc\",\n  \"platform\": \"linux/amd64\"\n}"
    headers:
      Audit-Id:
      - 759785f7-50c0-48f7-b1c8-873e5bc1babe
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version/openshift
  response:
    body:
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"the
        server could not find the requested resource","reason":"NotFound","details":{},"code":404}

        '
    headers:
      Audit-Id:
      - 84c53f27-af3b-4905-bd73-f49c529f4275
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis
  response:
    body:
      string: '{"kind":"APIGroupList","apiVersion":"v1","groups":[{"name":"apiregistration.k8s.io","versions":[{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apiregistration.k8s.io/v1","version":"v1"}},{"name":"apps","versions":[{"groupVersion":"apps/v1","version":"v1"}],"preferredVersion":{"groupVersion":"apps/v1","version":"v1"}},{"name":"events.k8s.io","versions":[{"groupVersion":"events.k8s.io/v1","version":"v1"}],"preferredVersion":{"groupVersion":"events.k8s.io/v1","version":"v1"}},{"name":"authentication.k8s.io","versions":[{"groupVersion":"authentication.k8s.io/v1","version":"v1"}],"preferredVersion":{"groupVersion":"authenti[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"config.openshift.io/v1","resources":[{"name":"builds","singularName":"build","namespaced":false,"kind":"Build","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"OCpV5nXxruQ="},{"name":"builds/status","singularName":"","namespaced":false,"kind":"Build","verbs":["get","patch","update"]},{"name":"ingresses","singularName":"ingress","namespaced":false,"kind":"Ingress","verbs":["delete","deletecollection","get","list","patch","create","update","watch"],"storageVersionHash":"PHiQOptbYkg="},{"name":"ingresses/status","singularName":"","namespaced":false,"kind":"Ingress","verbs":["get","patch","update"]},{"name":"images","singularName":"image","namespaced":fal[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1
  response:
    body:
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","singularName":"","namespaced":true,"kind":"Binding","verbs":["create"]},{"name":"componentstatuses","singularName":"","namespaced":false,"kind":"ComponentStatus","verbs":["get","list"],"shortNames":["cs"]},{"name":"configmaps","singularName":"","namespaced":true,"kind":"ConfigMap","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cm"],"storageVersionHash":"qFsyl6wFWjQ="},{"name":"endpoints","singularName":"","namespaced":true,"kind":"Endpoints","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ep"],"storageVersionHash":"fWeeMqaN/OA="},{"name":"events","singularName":"","namespaced":true,"kin[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apiregistration.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apiregistration.k8s.io/v1","resources":[{"name":"apiservices","singularName":"","namespaced":false,"kind":"APIService","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"InPBPD7+PqM="},{"name":"apiservices/status","singularName":"","namespaced":false,"kind":"APIService","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 9a02369a-0d4a-453a-9796-3d5493238f1f
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apps/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apps/v1","resources":[{"name":"controllerrevisions","singularName":"","namespaced":true,"kind":"ControllerRevision","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"85nkx63pcBU="},{"name":"daemonsets","singularName":"","namespaced":true,"kind":"DaemonSet","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ds"],"categories":["all"],"storageVersionHash":"dd7pWHUlMKQ="},{"name":"daemonsets/status","singularName":"","namespaced":true,"kind":"DaemonSet","verbs":["get","patch","update"]},{"name":"deployments","singularName":"","namespaced":true,"kind":"Deployment","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["deploy"],"categories":["all"],"storageVersionHash":"8aSe+NMegvE="},{"name":"deployments/scale","singularName":"","namespaced":true,"group":"autoscaling","version":"v1","kind":"Scale","verbs":["get","patch","update"]},{"name":"deployments/status","singularName":"","namespaced":true,"kind":"Deployment","verbs":["get","patch","update"]},{"name":"replicasets","singularName":"","namespaced":true,"kind":"ReplicaSet","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["rs"],"categories":["all"],"storageVersionHash":"P1RzHs8/mWQ="},{"name":"replicasets/scale","singularName":"","namespaced":tru[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/events.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"events.k8s.io/v1","resources":[{"name":"events","singularName":"","namespaced":true,"kind":"Event","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ev"],"storageVersionHash":"r2yiGXH7wu8="}]}

        '
    headers:
      Audit-Id:
      - ccf17e2a-c8d0-4533-af2c-a6cf6f9407db
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authentication.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authentication.k8s.io/v1","resources":[{"name":"tokenreviews","singularName":"","namespaced":false,"kind":"TokenReview","verbs":["create"]}]}

        '
    headers:
      Audit-Id:
      - 7d2a957f-5929-4f0d-992b-3e0162599219
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authorization.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authorization.k8s.io/v1","resources":[{"name":"localsubjectaccessreviews","singularName":"","namespaced":true,"kind":"LocalSubjectAccessReview","verbs":["create"]},{"name":"selfsubjectaccessreviews","singularName":"","namespaced":false,"kind":"SelfSubjectAccessReview","verbs":["create"]},{"name":"selfsubjectrulesreviews","singularName":"","namespaced":false,"kind":"SelfSubjectRulesReview","verbs":["create"]},{"name":"subjectaccessreviews","singularName":"","namespaced":false,"kind":"SubjectAccessReview","verbs":["create"]}]}

        '
    headers:
      Audit-Id:
      - d933aef9-65ac-41fd-b264-784b00bad366
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/autoscaling/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"autoscaling/v1","resources":[{"name":"horizontalpodautoscalers","singularName":"","namespaced":true,"kind":"HorizontalPodAutoscaler","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["hpa"],"categories":["all"],"storageVersionHash":"oQlkt7f5j/A="},{"name":"horizontalpodautoscalers/status","singularName":"","namespaced":true,"kind":"HorizontalPodAutoscaler","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 31908342-9ca2-49e7-b2b1-ba0da3e29147
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/batch/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"batch/v1","resources":[{"name":"cronjobs","singularName":"","namespaced":true,"kind":"CronJob","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cj"],"categories":["all"],"storageVersionHash":"sd5LIXh4Fjs="},{"name":"cronjobs/status","singularName":"","namespaced":true,"kind":"CronJob","verbs":["get","patch","update"]},{"name":"jobs","singularName":"","namespaced":true,"kind":"Job","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["all"],"storageVersionHash":"mudhfqk/qZY="},{"name":"jobs/status","singularName":"","namespaced":true,"kind":"Job","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - f56dee01-4444-4a49-9147-e721333c128c
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/certificates.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"certificates.k8s.io/v1","resources":[{"name":"certificatesigningrequests","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["csr"],"storageVersionHash":"95fRKMXA+00="},{"name":"certificatesigningrequests/approval","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["get","patch","update"]},{"name":"certificatesigningrequests/status","singularName":"","namespaced":false,"kind":"CertificateSigningRequest","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - e360829d-54d3-4835-94b8-bc57d73f925e
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/networking.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"networking.k8s.io/v1","resources":[{"name":"ingressclasses","singularName":"","namespaced":false,"kind":"IngressClass","verbs":["create","delete","deletecollection","get","list","patch","update","wat[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/policy/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"policy/v1","resources":[{"name":"poddisruptionbudgets","singularName":"","namespaced":true,"kind":"PodDisruptionBudget","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["pdb"],"storageVersionHash":"6BGBu0kpHtk="},{"name":"poddisruptionbudgets/status","singularName":"","namespaced":true,"kind":"PodDisruptionBudget","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 3d05e974-78f3-4f26-ba75-7270e9739895
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/rbac.authorization.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"rbac.authorization.k8s.io/v1","resources":[{"name":"clusterrolebindings","singularName":"","namespaced":false,"kind":"ClusterRoleBinding","verbs":["create","delete","deletecollection","get","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/storage.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"storage.k8s.io/v1","resources":[{"name":"csidrivers","singularName":"","namespaced":false,"kind":"CSIDriver","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storage[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/admissionregistration.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"admissionregistration.k8s.io/v1","resources":[{"name":"mutatingwebhookconfigurations","singularName":"","namespaced":false,"kind":"MutatingWebhookConfiguration","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"Sqi0GUgDaX0="},{"name":"validatingwebhookconfigurations","singularName":"","namespaced":false,"kind":"ValidatingWebhookConfiguration","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["api-extensions"],"storageVersionHash":"B0wHjQmsGNk="}]}

        '
    headers:
      Audit-Id:
      - 9cb82e46-cb91-4c02-bf1e-45b7b1053a25
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apiextensions.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apiextensions.k8s.io/v1","resources":[{"name":"customresourcedefinitions","singularName":"","namespaced":false,"kind":"CustomResourceDefinition","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["crd","crds"],"categories":["api-extensions"],"storageVersionHash":"jfWCUB31mvA="},{"name":"customresourcedefinitions/status","singularName":"","namespaced":false,"kind":"CustomResourceDefinition","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 888e42af-985c-4b5e-8630-44d50c5a1db8
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/scheduling.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"scheduling.k8s.io/v1","resources":[{"name":"priorityclasses","singularName":"","namespaced":false,"kind":"PriorityClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["pc"],"storageVersionHash":"1QwjyaZjj3Y="}]}

        '
    headers:
      Audit-Id:
      - b38a12e5-1999-4a6d-9822-ffdfd471f1dc
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/coordination.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"coordination.k8s.io/v1","resources":[{"name":"leases","singularName":"","namespaced":true,"kind":"Lease","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"gqkMMb/YqFM="}]}

        '
    headers:
      Audit-Id:
      - 6581f0e0-41cd-42a9-972c-03a07a618628
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/node.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"node.k8s.io/v1","resources":[{"name":"runtimeclasses","singularName":"","namespaced":false,"kind":"RuntimeClass","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"WQTu1GL3T2Q="}]}

        '
    headers:
      Audit-Id:
      - 59feb2f8-0be1-4c42-bff3-5a40f61b8563
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/discovery.k8s.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"discovery.k8s.io/v1","resources":[{"name":"endpointslices","singularName":"","namespaced":true,"kind":"EndpointSlice","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVersionHash":"Nx3SIv6I0mE="}]}

        '
    headers:
      Audit-Id:
      - f39e2cf4-66b9-4b36-8ed4-053367f9dcd9
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/apps.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"apps.openshift.io/v1","resources":[{"name":"deploymentconfigs","singularName":"","namespaced":true,"kind":"DeploymentConfig","verbs":["create","delete","deletecollection","get","list","patch","update[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/authorization.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"authorization.openshift.io/v1","resources":[{"name":"clusterrolebindings","singularName":"","namespaced":false,"kind":"ClusterRoleBinding","verbs":["create","delete","get","list","patch","up[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/build.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"build.openshift.io/v1","resources":[{"name":"buildconfigs","singularName":"","namespaced":true,"kind":"BuildConfig","verbs":["create","delete","deletecollection","get","list","patch","update","watch[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/image.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"image.openshift.io/v1","resources":[{"name":"images","singularName":"","namespaced":false,"kind":"Image","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storage[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/oauth.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"oauth.openshift.io/v1","resources":[{"name":"oauthaccesstokens","singularName":"","namespaced":false,"kind":"OAuthAccessToken","verbs":["create","delete","deletecollection","get","list","patch","upd[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/project.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"project.openshift.io/v1","resources":[{"name":"projectrequests","singularName":"","namespaced":false,"kind":"ProjectRequest","verbs":["create","list"]},{"name":"projects","singularName":"","namespaced":false,"kind":"Project","verbs":["create","delete","get","list","patch","update","watch"]}]}

        '
    headers:
      Audit-Id:
      - 43fc3619-11a8-499b-be1c-ab8f53314679
      - 43fc3619-11a8-499b-be1c-ab8f53314679
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/quota.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"quota.openshift.io/v1","resources":[{"name":"appliedclusterresourcequotas","singularName":"","namespaced":true,"kind":"AppliedClusterResourceQuota","verbs":["get","list"]},{"name":"clusterresourcequotas","singularName":"","namespaced":false,"kind":"ClusterResourceQuota","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["clusterquota"]},{"name":"clusterresourcequotas/status","singularName":"","namespaced":false,"kind":"ClusterResourceQuota","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - 6533233c-61ff-433d-bb8b-c894449862ca
      - 6533233c-61ff-433d-bb8b-c894449862ca
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/route.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"route.openshift.io/v1","resources":[{"name":"routes","singularName":"","namespaced":true,"kind":"Route","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"categories":["all"],"storageVersionHash":"jo1F7GfnXH4="},{"name":"routes/status","singularName":"","namespaced":true,"kind":"Route","verbs":["get","patch","update"]}]}

        '
    headers:
      Audit-Id:
      - c492ecde-40c9-4260-9f8d-4e5942dbf5d7
      - c492ecde-40c9-4260-9f8d-4e5942dbf5d7
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - d12c0ebf-7a55-4056-970d-2ab7db5a637f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 690a59e4-7e86-45a5-a2d7-b14879f21d90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/security.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"security.openshift.io/v1","resources":[{"name":"podsecuritypolicyreviews","singularName":"","namespaced":true,"kind":"PodSecurityPolicyReview","verbs":["create"]},{"name":"podsecuritypolicyselfsu[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/template.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"template.openshift.io/v1","resources":[{"name":"brokertemplateinstances","singularName":"","namespaced":false,"kind":"BrokerTemplateInstance","verbs":["create","delete","deletecollection","get","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/user.openshift.io/v1
  response:
    body:
      string: '{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"user.openshift.io/v1","resources":[{"name":"groups","singularName":"","namespaced":false,"kind":"Group","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"storageVe[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/packages.operators.coreos.com/v1
  response:
    body:
      string: 'service unavailable

        '
    headers:
      Audit-Id:
[...]
