interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/operators.coreos.com/v1alpha1/subscriptions
  response:
    body:
      string: '{"apiVersion":"operators.coreos.com/v1alpha1","items":[{"apiVersion":"operators.coreos.com/v1alpha1","kind":"Subscription","metadata":{"creationTimestamp":"2023-01-03T23:30:56Z","generation":1,"labels":{"operators.coreos.com/jaeger-product.openshift-distributed-tracing":""},"managedFields":[{"apiVersion":"operators.coreos.com/v1alpha1","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{".":{},"f:channel":{},"f:installPlanApproval":{},"f:name":{},"f:source":{},"f:sourceNamespace":{},"f:startingCSV":{}}},"manager":"Mozilla","operation":"Update","time":"2023-01-03T23:30:56Z"},{"apiVersion":"operators.coreos.com/v1alpha1","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{".":{},"f:operators.coreos.com/jaeger-product.openshift-distributed-tracing":{}}}},"manager":"olm","operation":"Update","time":"2023-01-03T23:30:56Z"},{"apiVersion":"operators.coreos.com/v1alpha1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{".":{},"f:catalogHealth":{},"f:conditions":{},"f:currentCSV":{},"f:installPlanGeneration":{},"f:installPlanRef":{".":{},"f:apiVersion":{},"f:kind":{},"f:name":{},"f:namespace":{},"f:resourceVersion":{},"f:uid":{}},"f:installedCSV":{},"f:installplan":{".":{},"f:apiVersion":{},"f:kind":{},"f:name":{},"f:uuid":{}},"f:lastUpdated":{},"f:state":{}}},"manager":"catalog","operation":"Update","subresource":"status","time":"2023-01-03T23:31:18Z"}],"name":"jaeger-product","namespace":"openshift-distributed-tracing","resourceVersion":"1354318","uid":"4e555a4a-bb6d-4827-8011-eb7385e80461"},"spec":{"channel":"stable","installPlanApproval":"Automatic","name":"jaeger-product","source":"redhat-operators","sourceNamespace":"openshift-marketplace","startingCSV":"jaeger-operator.v1.39.0-3"},"status":{"catalogHealth":[{"catalogSourceRef":{"apiVersion":"operators.coreos.com/v1alpha1","kind":"CatalogSource","name":"certified-operators","namespace":"openshift-marketplace","resourceVersion":"1351139","uid":"cb3ab34a-1423-41d6-8c80-dbbd1ba1a775"},"healthy":true,"lastUpdated":"2023-01-03T23:30:56Z"},{"catalogSourceRef":{"apiVersion":"operators.coreos.com/v1alpha1","kind":"CatalogSource","name":"community-operators","namespace":"openshift-marketplace","resourceVersion":"1353390","uid":"a6bbb883-a681-49ca-a2f8-0fc916c4f495"},"healthy":true,"lastUpdated":"2023-01-03T23:30:56Z"},{"catalogSourceRef":{"apiVersion":"operators.coreos.com/v1alpha1","kind":"CatalogSource","name":"redhat-marketplace","namespace":"openshift-marketplace","resourceVersion":"1351138","uid":"d0da2e30-6bd6-41e2-b2c8-f83a2afcaa5c"},"healthy":true,"lastUpdated":"2023-01-03T23:30:56Z"},{"catalogSourceRef":{"apiVersion":"operators.coreos.com/v1alpha1","kind":"CatalogSource","name":"redhat-operators","namespace":"openshift-marketplace","resourceVersion":"1351902","uid":"7f1363dc-4ebb-4efa-bcbb-983bea53f9e6"},"healthy":true,"lastUpdated":"2023-01-03T23:30:56Z"}],"conditions":[{"lastTransitionTime":"2023-01-03T23:30:56Z","message":"all
        available catalogsources are healthy","reason":"AllCatalogSourcesHealthy","status":"False","type":"CatalogSourcesUnhealthy"}],"currentCSV":"jaeger-operator.v1.39.0-3","installPlanGeneration":1,"installPlanRef":{"apiVersion":"operators.coreos.com/v1alpha1","kind":"InstallPlan","name":"install-jcwl8","namespace":"openshift-distributed-tracing","resourceVersion":"1353859","uid":"b3210d8d-dcf1-497c-a748-e759ef686ae1"},"installedCSV":"jaeger-operator.v1.39.0-3","installplan":{"apiVersion":"operators.coreos.com/v1alpha1","kind":"InstallPlan","name":"install-jcwl8","uuid":"b3210d8d-dcf1-497c-a748-e759ef686ae1"},"lastUpdated":"2023-01-03T23:31:21Z","state":"AtLatestKnown"}},{"apiVersion":"operators.coreos.com/v1alpha1","kind":"Subscription","metadata":{"creationTimestamp":"2023-01-04T15:20:12Z","generation":1,"labels":{"operators.coreos.com/devspaces.openshift-operators":""},"managedFields":[{"apiVersion":"operators.coreos.com/v1alpha1","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{".":{},"f:channel":{},"f:installPlanApproval":{},"f:name":{},"f:source":{},"f:sourceNamespace":{},"f:startingCSV":{}}},"manager":"Mozilla","operation":"Update","time":"[...]
