interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/namespaces
  response:
    body:
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Unauthorized","reason":"Unauthorized","code":401}

        '
    headers:
      Audit-Id:
      - a987dcb9-84d7-4f98-87a0-f7526c7ed021
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
