interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/version
  response:
    body:
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Unauthorized","reason":"Unauthorized","code":401}

        '
    headers:
      Audit-Id:
      - 1f9970a8-d685-4f85-ab13-23a2c27e0c65
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
