---

- name: internal_host_started_processing_role
  set_fact:
    internal_host_started_processing_role: "jboss_fuse"


# This will scan linux systems for JBoss Fuse, ActiveMQ, CXF, Camel or Community  Installations
- name: Gather jboss.activemq-ver
  shell: FOUND=""; for jar in `find {{search_directories}} -type f -xdev -name \*activemq-\*redhat\*.jar 2>/dev/null | grep fuse | sed -n 's/.*\(redhat-[0-9]\{6\}\).*/\1/p' | sort -u`; do if [ ! -z "${jar}" ]; then if [ ! -z "$FOUND" ]; then FOUND="$FOUND; $jar"; else FOUND=${jar}; fi; fi; done; echo ${FOUND}
  register: internal_jboss_activemq_ver
  ignore_errors: yes
  become: yes
  when: 'user_has_sudo and jboss_fuse_ext'

- name: set jboss_activemq_ver fact
  set_fact:
    jboss_activemq_ver: "{{internal_jboss_activemq_ver}}"
  ignore_errors: yes

- name: Gather jboss.camel-ver
  shell: FOUND=""; for jar in `find {{search_directories}} -type f -xdev -name \*camel-core\*redhat\*.jar 2>/dev/null | grep fuse | sed -n 's/.*\(redhat-[0-9]\{6\}\).*/\1/p' | sort -u`; do if [ ! -z "${jar}" ]; then if [ ! -z "$FOUND" ]; then FOUND="$FOUND; $jar"; else FOUND=${jar}; fi; fi; done; echo ${FOUND}
  register: internal_jboss_camel_ver
  ignore_errors: yes
  become: yes
  when: 'user_has_sudo and jboss_fuse_ext'

- name: set jboss_camel_ver fact
  set_fact:
    jboss_camel_ver: "{{internal_jboss_camel_ver}}"
  ignore_errors: yes

- name: Gather jboss.cxf-ver
  shell: FOUND=""; for jar in `find {{search_directories}} -type f -xdev -name \*cxf-rt\*redhat\*.jar 2>/dev/null | grep fuse | sed -n 's/.*\(redhat-[0-9]\{6\}\).*/\1/p' | sort -u`; do if [ ! -z "${jar}" ]; then if [ ! -z "$FOUND" ]; then FOUND="$FOUND; $jar"; else FOUND=${jar}; fi; fi; done; echo ${FOUND}
  register: internal_jboss_cxf_ver
  ignore_errors: yes
  become: yes
  when: 'user_has_sudo and jboss_fuse_ext'

- name: set jboss_cxf_ver fact
  set_fact:
    jboss_cxf_ver: "{{internal_jboss_cxf_ver}}"
  ignore_errors: yes