{% extends "base.html" %}

{% load static %}

{% block includes %}
  <link rel="stylesheet" href="{% static '/assets/rcue/css/rcue.css' %}">
  <link rel="stylesheet" href="{% static '/assets/rcue/css/rcue-additions.css' %}">
{% endblock %}

{% block page-title %}
Red Hat Entitlements Reporting
{% endblock %}

{% block logo %}
<img src="{% static '/assets/images/Red_Hat_logo.svg' %}" alt="Red Hat logo" style="height: 40px;"/>
{% endblock %}

{% block title %}
<img src="{% static '/assets/images/title.svg' %}" alt="Red Hat Entitlements Reporting">
{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    {% csrf_token %}
    <label for="id_username" class="col-sm-2 col-md-2 control-label">Username</label>
    <div class="col-sm-10 col-md-10">
      <input type="text" class="form-control" placeholder="" tabindex="1" maxlength="254" id="id_username" name="username" required autofocus>
    </div>
  </div>
  <div class="form-group">
    <label for="id_password" class="col-sm-2 col-md-2 control-label">Password</label>
    <div class="col-sm-10 col-md-10">
      <input type="password" class="form-control" placeholder="" tabindex="2" id="id_password" name="password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
      <!--
      <div class="checkbox">
        <label>
          <input type="checkbox" tabindex="3"> Remember username
        </label>
      </div>
      <span class="help-block"> Forgot <a href="javascript:void(0)" tabindex="5">username</a> or <a href="javascript:void(0)" tabindex="6">password</a>?</span>
      -->
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 submit">
      <button type="submit" class="btn btn-primary btn-lg" tabindex="4">Log In</button>
    </div>
  </div>
</form>
{% endblock %}

{% block description %}
<p>
  <strong>Welcome to Red Hat Entitlements Reporting!</strong>
  Entitlements Reporting is an inspection and reporting tool to identify environment data, or facts, such as the number
  of physical and virtual systems on a network, their operating systems and other configuration data, and versions of
  some key packages and products for almost any Linux or UNIX version. The ability to inspect the software and systems
  that are running on your network improves your ability to understand and report on your entitlement usage. Ultimately,
  this inspection and reporting process is part of the larger system administration task of managing your inventories.
</p>

{% endblock %}
