interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/namespaces
  response:
    body:
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Unauthorized","reason":"Unauthorized","code":401}

        '
    headers:
      Audit-Id:
      - 48c26fd6-143f-4e8f-90a4-c1a0829f581f
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
