swagger: "2.0"
info:
  description: "The models and API for the Quipucords server."
  version: "1.0.0"
  title: "Quipucords API"
  contact:
    email: "quipucords@redhat.com"
  license:
    name: "GPL 3.0"
    url: "https://www.gnu.org/licenses/gpl-3.0.txt"

basePath: "/api/v1"

tags:
- name: "Host Credential"
  description: "API related to the Host Credential model"

paths:
  /credentials/hosts:
    post:
      tags:
        - "Host Credential"
      summary: "Add a new host credential"
      description: "Create a new host credential for use when connecting to a target system."
      operationId: "addHostCredential"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Host credential object that needs to be stored"
        required: true
        schema:
          $ref: "#/definitions/HostCredential"
      responses:
        201:
          description: "Host credential created"
        400:
          description: "Invalid input"
    get:
      tags:
        - "Host Credential"
      summary: "List exsiting host credentials"
      description: "List all host credential for use when connecting to a target system."
      operationId: "listHostCredentials"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "name"
          in: "query"
          description: "A list of names representing host credentials"
          type: "string"
      responses:
        200:
          description: "Host credential retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/HostCredentialExt"
  /credentials/hosts/{host_cred_id}:
    get:
      tags:
        - "Host Credential"
      summary: "Get an existing host credential"
      description: "Get a host credential for use when connecting to a target system."
      operationId: "getHostCredential"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "host_cred_id"
        in: "path"
        description: "ID of host credential to retrieve"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Host credential retrieved"
          schema:
            $ref: "#/definitions/HostCredentialExt"
        404:
          description: "Host credential not found"
    put:
      tags:
        - "Host Credential"
      summary: "Update an existing host credential"
      description: "Update a host credential for use when connecting to a target system."
      operationId: "updateHostCredential"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "host_cred_id"
        in: "path"
        description: "ID of host credential to update"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Host credential object that needs to be modified"
        required: true
        schema:
          $ref: "#/definitions/HostCredential"
      responses:
        200:
          description: "Host credential updated"
          schema:
            $ref: "#/definitions/HostCredentialExt"
        400:
          description: "Invalid input"
        404:
          description: "Host credential not found"
    delete:
      tags:
        - "Host Credential"
      summary: "Delete an existing host credential"
      description: "Delete a host credential for use when connecting to a target system."
      operationId: "deleteHostCredential"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "host_cred_id"
        in: "path"
        description: "ID of host credential to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Host credential deleted"
        404:
          description: "Host credential not found"
  /profiles/networks:
    post:
      tags:
        - "Network Profile"
      summary: "Add a new network profile"
      description: "Create a new network profile for scanning."
      operationId: "addNetworkProfile"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "JSON object representing new network profile"
          required: true
          schema:
            $ref: "#/definitions/NetworkProfile"
      responses:
        201:
          description: "Network profile created"
        400:
          description: "Invalid input"
    get:
      tags:
        - "Network Profile"
      summary: "List network profiles"
      description: "List all network profiles available for scanning."
      operationId: "listNetworkProfiles"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "name"
          in: "query"
          description: "A list of names representing network profiles"
          type: "string"
      responses:
        200:
          description: "Network profiles retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/NetworkProfileExt"
  /profiles/networks/{network_profile_id}:
    get:
      tags:
        - "Network profile"
      summary: "Get a network profile"
      description: "Get a network profile."
      operationId: "getNetworkProfile"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "network_profile_id"
          in: "path"
          description: "ID of network profile to retrieve"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "Network profile returned"
          schema:
            $ref: "#/definitions/NetworkProfileExt"
        404:
          description: "Network profile not found"
    put:
      tags:
        - "Network profile"
      summary: "Update an existing network profile"
      description: "Update an existing network profile"
      operationId: "updateNetworkProfile"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "network_profile_id"
          in: "path"
          description: "ID of network profile to update"
          required: true
          type: "number"
          format: "int64"
        - name: "body"
          in: "body"
          description: "Network profile object to be modified"
          required: true
          schema:
            $ref: "#/definitions/NetworkProfile"
      responses:
        200:
          description: "Network profile updated"
          schema:
            $ref: "#/definitions/NetworkProfileExt"
        400:
          description: "Invalid input"
        404:
          description: "No network profile found"
    delete:
      tags:
        - "Network profile"
      summary: "Delete an existing network profile"
      description: "Delete an existing network profile"
      operationId: "deleteNetworkProfile"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "network_profile_id"
          in: "path"
          description: "ID of network profile to delete"
          required: true
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "Network profile deleted"
        404:
          description: "Network profile not found"

definitions:
  HostCredential:
    type: "object"
    required:
      - name
      - username
      - password
      - ssh_keyfile
    properties:
        name:
          type: "string"
          description: "The name of the host credential"
        username:
          type: "string"
          description: "The connection username for the host credential"
        password:
          type: "string"
          description: "The connection password for the host credential"
        ssh_keyfile:
          type: "string"
          description: "The connection private ssh keyfile for the host credential"
        sudo_password:
          type: "string"
          description: "The password for sudo permission escalation after connection for the host credential"
  HostCredentialExt:
    allOf:
      - $ref: "#/definitions/HostCredential"
      - type: "object"
        required:
          - id
        properties:
          id:
            type: "integer"
            format: "int64"
  NetworkProfile:
    type: "object"
    required:
      - name
      - hosts
      - ssh_port
      - credentials
    properties:
      name:
        type: "string"
        description: "The name of the network profile"
      hosts:
        type: "array"
        items:
          type: "string"
        description: "The hosts on the network, as hostnames or IP ranges."
      ssh_port:
        type: "integer"
        format: "int32"
        description: "The SSH port to use on the hosts."
      credentials:
        type: "array"
        items:
          type: "integer"
          format: "int64"
        description: "The host credentials to try with these hosts."
  NetworkProfileExt:
    allOf:
      - $ref: "#/definitions/NetworkProfile"
      - type: "object"
        required:
          - id
        properties:
          id:
            type: "integer"
            format: "int64"
