---

- name: internal_host_started_processing_role
  set_fact:
    internal_host_started_processing_role: "date"

- name: gather internal_date_date fact
  command: date
  register: internal_date_date
  ignore_errors: yes

- name: set date_date fact
  set_fact:
    date_date: "{{internal_date_date}}"
  ignore_errors: yes

- name: gather uptime fact
  command: uptime=$(cat /proc/uptime); array=( $uptime); seconds=" +seconds"; formatted_uptime="${array[0]}$seconds"; TZ=utc date --date -"$formatted_uptime" +"%Y-%m-%d %T"
  register: internal_uptime_utc_cmd
  ignore_errors: yes

- name: extract result value for uptime
  set_fact:
    last_booted_at: "{{ internal_uptime_utc_cmd['stdout'] | trim}}"
  ignore_errors: yes
  when:
    - "{{ QPC_FEATURE_FLAGS.UPTIME }}"

- name: gather date.anaconda_log fact
  shell: ls --full-time /root/anaconda-ks.cfg 2>/dev/null | grep -o '[0-9]\{4\}-[0-9]\{2\}-[0-9]\{2\}'
  register: internal_date_anaconda_log_cmd
  become: yes
  ignore_errors: yes
  when: 'user_has_sudo'

- name: extract result value for date.anaconda_log
  set_fact:
    date_anaconda_log: "{{ internal_date_anaconda_log_cmd['stdout'] | trim | default('') }}"
  ignore_errors: yes
  when: '"stdout" in internal_date_anaconda_log_cmd'

- name: handle failure value for date.anaconda_log
  set_fact:
    date_anaconda_log: ""
  ignore_errors: yes
  when: '"stdout" not in internal_date_anaconda_log_cmd'

- name: gather internal_date_machine_id fact
  shell: if [ -f /etc/machine-id ] ; then ls --full-time /etc/machine-id 2>/dev/null | grep -o '[0-9]\{4\}-[0-9]\{2\}-[0-9]\{2\}' ; fi
  register: internal_date_machine_id
  ignore_errors: yes

- name: set date_machine_id fact
  set_fact:
    date_machine_id: "{{internal_date_machine_id}}"
  ignore_errors: yes

- name: gather internal_date_filesystem_create fact
  shell: fs_date=$(tune2fs -l $(mount | egrep '/ type' | grep -o '/dev.* on' | sed -e 's/\on//g') 2>/dev/null | grep 'Filesystem created' | sed 's/Filesystem created:\s*//g'); if [[ $fs_date ]]; then date +'%F' -d "$fs_date"; else echo "" ; fi
  register: internal_date_filesystem_create
  ignore_errors: yes
  when: 'internal_have_tune2fs'

- name: set date_filesystem_create fact
  set_fact:
    date_filesystem_create: "{{internal_date_filesystem_create}}"
  ignore_errors: yes

- name: gather internal_date_yum_history fact
  shell: yum history 2>/dev/null  | tail -n 2 | grep -o '[0-9]\{4\}-[0-9]\{2\}-[0-9]\{2\}'
  register: internal_date_yum_history
  become: yes
  ignore_errors: yes
  when: 'user_has_sudo and internal_have_yum'

- name: set date_yum_history fact
  set_fact:
    date_yum_history: "{{internal_date_yum_history}}"
  ignore_errors: yes