name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, "release/*", "feature/*"]

jobs:
  check-dependencies:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.12"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Install poetry
        run: pipx install "poetry<2"

      - name: Set up Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
          cache-dependency-path: "poetry.lock"

      - name: Check dependencies
        run: |
          make lock-main-requirements
          make check-requirements
  test:
    strategy:
      matrix:
        type:
          [
            lint,
            check-db-migrations-needed,
            test-coverage,
            test-sudo-list,
          ]
        python-version: ["3.12"]
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Install poetry
        run: pipx install "poetry<2"

      - name: Set up Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
          cache-dependency-path: "poetry.lock"

      - name: Install Python dependencies
        run: poetry install

      - name: Install additional tools
        run: sudo apt-get install -y shellcheck

      - name: Run Test
        run: make ${{ matrix.type }} -k
        env:
          QUIPUCORDS_DBMS: postgres
          QUIPUCORDS_DBMS_DATABASE: postgres
          QUIPUCORDS_DBMS_PORT: 5432
          QUIPUCORDS_DBMS_USER: postgres
          QUIPUCORDS_DBMS_PASSWORD: postgres
          QUIPUCORDS_DBMS_HOST: localhost

      - name: Report coverage
        if: ${{ success() && contains(matrix.type, 'test-coverage') }}
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true # optional (default = false)
          token: ${{ secrets.CODECOV_TOKEN }} # required
          # verbose: true # optional (default = false)
