name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    strategy:
      matrix:
        type: [lint, lint-ansible, test-coverage, test-integration]
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.1
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # fetches all commits/tags

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
          cache: "pip"
          cache-dependency-path: "dev-requirements.txt"

      - name: Install dependencies
        run: |
          pip install -r dev-requirements.txt
          pip install -e .

      - name: Docker Layer Caching
        uses: satackey/action-docker-layer-caching@v0.0.11
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true

      - name: Run Test
        run: make ${{ matrix.type }} -k
        env:
          QPC_DBMS: postgres
          QPC_DBMS_DATABASE: postgres
          QPC_DBMS_PORT: 5432
          QPC_DBMS_USER: postgres
          QPC_DBMS_PASSWORD: postgres
          QPC_DBMS_HOST: localhost

      - name: Report coverage
        run: |
          pip install codecov
          codecov
